<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>网站标题</title>
    <link rel="stylesheet" href="../../css/inner.css">
    <link rel="stylesheet" href="../../css/error.css">
  </head>
  <body>
    <div id="main-page">
      <div class="manage-content">
        <div class="error error404">
          <div class="error-container">
            <div class="error-result">
              <div class="error-result-content">
                <div class="error-result-txt">抱歉，找不到您要的页面！</div>
              </div>
            </div>
            <div class="error-divider"></div>
            <div class="error-reason">
              <dl class="error-reason-list">
                <dt>您可以：</dt>
                <dd><a href="#" class="reason-linker">返回首页</a>继续访问本网站。</dd>
                <dd>联系客服<span class="reason-hotline">0571-967209</span>寻求帮助</dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="../../scripts/lib/autoheight/main.js"></script>
</html>