<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>网站标题</title>
    <link rel="stylesheet" href="../../css/inner.css">
    <script src="../../scripts/lib/beautify/beautify.js"></script>
    <script src="../../scripts/lib/beautify/beautify-css.js"></script>
    <script src="../../scripts/lib/beautify/beautify-html.js"></script>
    <link rel="stylesheet" href="../../scripts/lib/highlight/styles/tomorrow.css">
    <script src="../../scripts/lib/highlight/highlight.pack.js"></script>
    <script>var jsonCode = '{"name":2,"z":{"a":1,"b":[1,2,4]}}';</script>
    <script src="../../scripts/lib/requirejs-config/inner.js"></script>
    <script src="../../scripts/lib/requirejs/require.js" data-main="app/inner/main-highlight"></script>
  </head>
  <body>
    <div id="main-page">
      <div class="manage-content">
        <div class="crumbs">
          <div class="crumbs-content">
            <div class="crumbs-title"><span>当前位置：</span></div>
            <div class="crumbs-list"><a href="#" class="crumbs-item">资讯管理</a><span class="crumbs-item crumbs-item__is-divider">&gt;</span><a class="crumbs-item crumbs-item__is-last">资讯发布</a></div>
          </div>
        </div>
        <div class="space space-t10"></div>
        <div class="result">
          <div class="result-title"><span>语法高亮</span></div>
          <div style="font-size: 14px;" class="result-content">
            <pre><code id="J-jsonHighlight" class="json"></code></pre>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="../../scripts/lib/autoheight/main.js"></script>
</html>