<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>网站标题</title>
    <link rel="stylesheet" href="../../css/inner.css">
    <link rel="stylesheet" href="../../css/role.css">
    <script src="../../scripts/lib/requirejs-config/inner.js"></script>
    <script src="../../scripts/lib/requirejs/require.js" data-main="app/inner/main-role"></script>
  </head>
  <body>
    <div id="main-page">
      <div class="manage-content">
        <div class="crumbs">
          <div class="crumbs-content">
            <div class="crumbs-title"><span>当前位置：</span></div>
            <div class="crumbs-list"><a href="#" class="crumbs-item">资讯管理</a><span class="crumbs-item crumbs-item__is-divider">&gt;</span><a class="crumbs-item crumbs-item__is-last">资讯发布</a></div>
          </div>
        </div>
        <div class="space space-t10"></div>
        <div class="result">
          <div class="result-title"><span>菜单权限</span></div>
          <div class="result-content">
            <div class="role-manage">
              <div class="role-manage-controllerForm">
                <form>
                  <div class="role-manage-selectContainer">
                    <div class="select-wrap">
                      <div class="left">
                        <div class="select-area">
                          <div class="area-box">
                            <div class="area-hd"><span class="role-title">全部菜单</span>
                              <input class="inp inp-role">
                            </div>
                            <div class="area-bd">
                              <div class="role-left-menu">
                                <ul id="J-roleManage-backup" class="role-selectArea-list">
                                  <li id="J-backup-1">
                                    <dl data-cid="1" class="role-selectArea-category">
                                      <dt class="J-roleManage-category"><span>风险预警A</span><i></i></dt>
                                      <dd data-iid="a" class="J-roleManage-item"><i></i><span>短信通知</span></dd>
                                      <dd data-iid="b" class="J-roleManage-item"><i></i><span>国际中转箱风险预警</span></dd>
                                      <dd data-iid="c" class="J-roleManage-item"><i></i><span>风险预警处置查询</span></dd>
                                      <dd data-iid="d" class="J-roleManage-item"><i></i><span>转关运输工具备案预警</span></dd>
                                      <dd data-iid="e" class="J-roleManage-item"><i></i><span>风险预警查询</span></dd>
                                    </dl>
                                  </li>
                                  <li id="J-backup-2">
                                    <dl data-cid="2" class="role-selectArea-category">
                                      <dt class="J-roleManage-category"><span>风险预警B</span><i></i></dt>
                                      <dd data-iid="a" class="J-roleManage-item"><i></i><span>短信通知</span></dd>
                                      <dd data-iid="b" class="J-roleManage-item"><i></i><span>国际中转箱风险预警</span></dd>
                                      <dd data-iid="c" class="J-roleManage-item"><i></i><span>风险预警处置查询</span></dd>
                                      <dd data-iid="d" class="J-roleManage-item"><i></i><span>转关运输工具备案预警</span></dd>
                                      <dd data-iid="e" class="J-roleManage-item"><i></i><span>风险预警查询</span></dd>
                                      <dd data-iid="f" class="J-roleManage-item"><i></i><span>转关运输工具备案预警</span></dd>
                                    </dl>
                                  </li>
                                  <li id="J-backup-3">
                                    <dl data-cid="3" class="role-selectArea-category">
                                      <dt class="J-roleManage-category"><span>风险预警C</span><i></i></dt>
                                      <dd data-iid="a" class="J-roleManage-item"><i></i><span>短信通知</span></dd>
                                      <dd data-iid="b" class="J-roleManage-item"><i></i><span>国际中转箱风险预警</span></dd>
                                      <dd data-iid="c" class="J-roleManage-item"><i></i><span>风险预警处置查询</span></dd>
                                      <dd data-iid="d" class="J-roleManage-item"><i></i><span>转关运输工具备案预警</span></dd>
                                      <dd data-iid="e" class="J-roleManage-item"><i></i><span>风险预警查询</span></dd>
                                    </dl>
                                  </li>
                                  <li id="J-backup-4">
                                    <dl data-cid="4" class="role-selectArea-category">
                                      <dt class="J-roleManage-category"><span>风险预警D</span><i></i></dt>
                                      <dd data-iid="a" class="J-roleManage-item"><i></i><span>短信通知</span></dd>
                                      <dd data-iid="b" class="J-roleManage-item"><i></i><span>国际中转箱风险预警</span></dd>
                                      <dd data-iid="c" class="J-roleManage-item"><i></i><span>风险预警处置查询</span></dd>
                                      <dd data-iid="d" class="J-roleManage-item"><i></i><span>转关运输工具备案预警</span></dd>
                                      <dd data-iid="e" class="J-roleManage-item"><i></i><span>风险预警查询</span></dd>
                                    </dl>
                                  </li>
                                  <li id="J-backup-5">
                                    <dl data-cid="5" class="role-selectArea-category">
                                      <dt class="J-roleManage-category"><span>风险预警E</span><i></i></dt>
                                      <dd data-iid="a" class="J-roleManage-item"><i></i><span>短信通知</span></dd>
                                      <dd data-iid="b" class="J-roleManage-item"><i></i><span>国际中转箱风险预警</span></dd>
                                      <dd data-iid="c" class="J-roleManage-item"><i></i><span>风险预警处置查询</span></dd>
                                      <dd data-iid="d" class="J-roleManage-item"><i></i><span>转关运输工具备案预警</span></dd>
                                      <dd data-iid="e" class="J-roleManage-item"><i></i><span>风险预警查询</span></dd>
                                    </dl>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="middle">
                        <div class="select-moveRole"><a href="javascript:;" id="J-checkedAllBtn" class="checkedAll"></a><a href="javascript:;" id="J-checkedAnyBtn" class="checkedAny disable"></a><a href="javascript:;" id="J-deletedAnyBtn" class="deletedAny disable"></a><a href="javascript:;" id="J-deletedAllBtn" class="deletedAll"></a></div>
                      </div>
                      <div class="right">
                        <div class="select-area">
                          <div class="area-box">
                            <div class="area-hd"><span class="role-title">选择用户</span>
                              <input class="inp inp-role">
                            </div>
                            <div class="area-bd">
                              <div class="role-right-user">
                                <ul class="role-user-list">
                                  <li class="role-user-item J-roleUser-item"><span class="user-name">用户名称1</span></li>
                                  <li class="role-user-item J-roleUser-item"><span class="user-name">用户名称2</span></li>
                                  <li class="role-user-item J-roleUser-item"><span class="user-name">用户名称3</span></li>
                                  <li class="role-user-item J-roleUser-item"><span class="user-name">用户名称2</span></li>
                                  <li class="role-user-item J-roleUser-item"><span class="user-name">用户名称3</span></li>
                                  <li class="role-user-item J-roleUser-item"><span class="user-name">用户名称2</span></li>
                                  <li class="role-user-item J-roleUser-item"><span class="user-name">用户名称3</span></li>
                                  <li class="role-user-item J-roleUser-item"><span class="user-name">用户名称2</span></li>
                                  <li class="role-user-item J-roleUser-item"><span class="user-name">用户名称3</span></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                          <div class="select-box">
                            <div class="area-hd"><span class="role-title">所选用户已拥有的功能</span></div>
                            <div class="area-bd">
                              <div class="role-right-menu">
                                <ul id="J-roleManage-decided" class="role-selectArea-list opposite">
                                  <li id="J-decided-1">
                                    <dl data-cid="1" class="role-selectArea-category opened">
                                      <dt class="J-roleManage-category"><span>风险预警A</span><i></i></dt>
                                      <dd data-iid="a" class="J-roleManage-item"><i></i><span>短信通知</span></dd>
                                      <dd data-iid="b" class="J-roleManage-item"><i></i><span>国际中转箱风险预警</span></dd>
                                      <dd data-iid="c" class="J-roleManage-item"><i></i><span>风险预警处置查询</span></dd>
                                      <dd data-iid="d" class="J-roleManage-item"><i></i><span>转关运输工具备案预警</span></dd>
                                      <dd data-iid="e" class="J-roleManage-item"><i></i><span>风险预警查询</span></dd>
                                    </dl>
                                  </li>
                                  <li id="J-decided-2">
                                    <dl data-cid="2" class="role-selectArea-category opened">
                                      <dt class="J-roleManage-category"><span>风险预警B</span><i></i></dt>
                                      <dd data-iid="a" class="J-roleManage-item"><i></i><span>短信通知</span></dd>
                                      <dd data-iid="b" class="J-roleManage-item"><i></i><span>国际中转箱风险预警</span></dd>
                                      <dd data-iid="c" class="J-roleManage-item"><i></i><span>风险预警处置查询</span></dd>
                                      <dd data-iid="d" class="J-roleManage-item"><i></i><span>转关运输工具备案预警</span></dd>
                                      <dd data-iid="e" class="J-roleManage-item"><i></i><span>风险预警查询</span></dd>
                                      <dd data-iid="f" class="J-roleManage-item"><i></i><span>转关运输工具备案预警</span></dd>
                                    </dl>
                                  </li>
                                  <li id="J-decided-3">
                                    <dl data-cid="3" class="role-selectArea-category opened">
                                      <dt class="J-roleManage-category"><span>风险预警C</span><i></i></dt>
                                      <dd data-iid="a" class="J-roleManage-item"><i></i><span>短信通知</span></dd>
                                      <dd data-iid="b" class="J-roleManage-item"><i></i><span>国际中转箱风险预警</span></dd>
                                      <dd data-iid="c" class="J-roleManage-item"><i></i><span>风险预警处置查询</span></dd>
                                      <dd data-iid="d" class="J-roleManage-item"><i></i><span>转关运输工具备案预警</span></dd>
                                      <dd data-iid="e" class="J-roleManage-item"><i></i><span>风险预警查询</span></dd>
                                    </dl>
                                  </li>
                                  <li id="J-decided-4">
                                    <dl data-cid="4" class="role-selectArea-category opened">
                                      <dt class="J-roleManage-category"><span>风险预警D</span><i></i></dt>
                                      <dd data-iid="a" class="J-roleManage-item"><i></i><span>短信通知</span></dd>
                                      <dd data-iid="b" class="J-roleManage-item"><i></i><span>国际中转箱风险预警</span></dd>
                                      <dd data-iid="c" class="J-roleManage-item"><i></i><span>风险预警处置查询</span></dd>
                                      <dd data-iid="d" class="J-roleManage-item"><i></i><span>转关运输工具备案预警</span></dd>
                                      <dd data-iid="e" class="J-roleManage-item"><i></i><span>风险预警查询</span></dd>
                                    </dl>
                                  </li>
                                  <li id="J-decided-5">
                                    <dl data-cid="5" class="role-selectArea-category opened">
                                      <dt class="J-roleManage-category"><span>风险预警E</span><i></i></dt>
                                      <dd data-iid="a" class="J-roleManage-item"><i></i><span>短信通知</span></dd>
                                      <dd data-iid="b" class="J-roleManage-item"><i></i><span>国际中转箱风险预警</span></dd>
                                      <dd data-iid="c" class="J-roleManage-item"><i></i><span>风险预警处置查询</span></dd>
                                      <dd data-iid="d" class="J-roleManage-item"><i></i><span>转关运输工具备案预警</span></dd>
                                      <dd data-iid="e" class="J-roleManage-item"><i></i><span>风险预警查询</span></dd>
                                    </dl>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="../../scripts/lib/autoheight/main.js"></script>
</html>