<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>网站标题</title>
    <link rel="stylesheet" href="../../css/inner.css">
    <link rel="stylesheet" href="../../css/redirect.css">
    <link rel="stylesheet" href="../../css/interaction.css">
    <script src="../../scripts/lib/requirejs-config/inner.js"></script>
    <script id="J-interactionDeleteDialog" type="oka/template">
      <div class="interaction-delete-layer">
      <div class="layer-wrap">
      <form>
      <div class="delete-title">回复</div>
      <div class="delete-reason">
      <textarea class="inp-textarea">抱歉，您提交的内容违反了规范，仅您自己可见。如果您认为判定有误，请发起申诉，帮助我们持续改进。</textarea>
      </div>
      <div class="delete-btns"><a class="btn J-btn J-interactionDeleteDialogConfirmBtn"><span>确 定</span></a><a class="btn J-btn J-interactionDeleteDialogCancelBtn"><span>取 消	</span></a></div>
      </form>
      </div>
      </div>
      
    </script>
    <script src="../../scripts/lib/requirejs/require.js" data-main="app/inner/main-interaction"></script>
  </head>
  <body>
    <div id="main-page">
      <div class="manage-content">
        <div class="crumbs">
          <div class="crumbs-content">
            <div class="crumbs-title"><span>当前位置：</span></div>
            <div class="crumbs-list"><a href="#" class="crumbs-item">资讯管理</a><span class="crumbs-item crumbs-item__is-divider">&gt;</span><a class="crumbs-item crumbs-item__is-last">资讯发布</a></div>
          </div>
        </div>
        <div class="space space-t10"></div>
        <div class="redirect-content">
          <div class="interaction-main">
            <div class="interaction-wrap">
              <div class="interaction-chunk">
                <div class="chunk-hd"><span class="interaction-title">问题</span>
                  <div class="interaction-hd-time"><span class="name">路人甲</span><span class="time">2014-11-1</span></div>
                </div>
                <div class="chunk-bd">
                  <div class="interaction-content">
                    <h2>XXX标题</h2>
                    <p>通过大家建立的共同平台实现申报数据的收集和反馈，企业仅需要填制一张电子表格吗？</p>
                  </div>
                </div>
                <div class="chunk-ft">
                  <div class="interaction-type-select">
                    <label class="interaction-type">一级分类 
                      <select class="inp-select">
                        <option>大分类1</option>
                        <option>大分类2</option>
                        <option>大分类3</option>
                        <option>大分类4</option>
                      </select>
                    </label>
                    <label class="interaction-type">二级分类 
                      <select class="inp-select">
                        <option>小分类1</option>
                        <option>小分类2</option>
                        <option>小分类3</option>
                        <option>小分类4</option>
                      </select>
                    </label>
                  </div>
                </div>
              </div>
              <div class="interaction-chunk chunk-editor">
                <div class="chunk-hd"><span class="interaction-title">回答</span></div>
                <div class="chunk-bd">
                  <div class="interaction-textarea">
                    <textarea style="padding: 0; width: 100%; height: 60px;">文本编辑器(TODO)</textarea>
                  </div>
                </div>
              </div>
              <div class="interaction-chunk chunk-oper">
                <div class="chunk-bd">
                  <div class="redirect-operation interaction-operation"><a class="btn btn-interation J-btn"><span>保 存</span></a><a id="J-resetBtn" class="btn btn-interation J-btn"><span>取 消</span></a><a id="J-deleteInterationBtn" class="btn btn-interation J-btn"><span>删 除</span></a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="../../scripts/lib/autoheight/main.js"></script>
</html>