<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>网站标题</title>
    <link rel="stylesheet" href="../../css/inner.css">
    <link rel="stylesheet" href="../../css/um.css">
    <script src="../../scripts/lib/requirejs-config/inner.js"></script>
    <script src="../../scripts/lib/requirejs/require.js" data-main="app/inner/um"></script>
  </head>
  <body>
    <div id="main-page">
      <div class="manage-content">
        <div class="crumbs">
          <div class="crumbs-content">
            <div class="crumbs-title"><span>当前位置：</span></div>
            <div class="crumbs-list"><a href="#" class="crumbs-item">资讯管理</a><span class="crumbs-item crumbs-item__is-divider">&gt;</span><a class="crumbs-item crumbs-item__is-last">资讯发布</a></div>
          </div>
        </div>
        <div class="space space-t10"></div>
        <div class="result">
          <div class="result-title"><span>修改密码</span></div>
          <div class="result-content">
            <div class="um-form">
              <form method="" action="">
                <div class="clearfix um-form-controller">
                  <label class="controller-label"><span>密码</span>
                  </label>
                  <div class="controller-inp J-controllerInp">
                    <input type="password" data-required="true" data-maxlength="20" class="inp inp-um">
                  </div>
                </div>
                <div class="clearfix um-form-controller">
                  <label class="controller-label"><span>新密码</span>
                  </label>
                  <div class="controller-inp J-controllerInp">
                    <input id="J-umNewPassword" type="password" data-required="true" data-maxlength="20" class="inp inp-um">
                  </div>
                </div>
                <div class="clearfix um-form-controller">
                  <label class="controller-label"><span>确认新密码</span>
                  </label>
                  <div class="controller-inp J-controllerInp">
                    <input type="password" data-required="true" data-equalto="#J-umNewPassword" class="inp inp-um">
                  </div>
                </div>
                <div class="um-form-submit"><a id="J-umFormSubmitBtn" class="btn J-btn"><span>确 认</span></a></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="../../scripts/lib/autoheight/main.js"></script>
</html>