<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>网站标题</title>
    <link rel="stylesheet" href="../../css/inner.css">
    <link rel="stylesheet" href="../../css/fail.css">
    <script src="../../scripts/lib/requirejs-config/inner.js"></script>
  </head>
  <body>
    <div id="main-page">
      <div class="manage-content">
        <div class="crumbs">
          <div class="crumbs-content">
            <div class="crumbs-title"><span>当前位置：</span></div>
            <div class="crumbs-list"><a href="#" class="crumbs-item">资讯管理</a><span class="crumbs-item crumbs-item__is-divider">&gt;</span><a class="crumbs-item crumbs-item__is-last">资讯发布</a></div>
          </div>
        </div>
        <div class="fail">
          <div class="fail-container">
            <div class="fail-result">
              <div class="fail-result-content">
                <div class="fail-result-maintxt"><span class="fail-txt">提交失败，请修改失败原因！<i></i></span></div>
                <div class="fail-reason">
                  <dl class="fail-reason-list">
                    <dt>失败的原因：</dt>
                    <dd>某某原因1</dd>
                    <dd>某某原因2</dd>
                    <dd>某某原因3</dd>
                  </dl>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="../../scripts/lib/autoheight/main.js"></script>
</html>