<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>网站标题</title>
    <link rel="stylesheet" href="../../css/inner.css">
    <link rel="stylesheet" href="../../css/um.css">
    <script src="../../scripts/lib/requirejs-config/inner.js"></script>
    <script src="../../scripts/lib/requirejs/require.js" data-main="app/inner/um"></script>
  </head>
  <body>
    <div id="main-page">
      <div class="manage-content">
        <div class="crumbs">
          <div class="crumbs-content">
            <div class="crumbs-title"><span>当前位置：</span></div>
            <div class="crumbs-list"><a href="#" class="crumbs-item">资讯管理</a><span class="crumbs-item crumbs-item__is-divider">&gt;</span><a class="crumbs-item crumbs-item__is-last">资讯发布</a></div>
          </div>
        </div>
        <div class="space space-t10"></div>
        <div class="result">
          <div class="result-content">
            <div class="um-email">
              <div class="um-middle-content"><i class="email-ico"></i>
                <p class="email-send">验证邮件已发送到 <strong>123456789@163.com</strong></p>
                <p class="email-period">请在24小时内点击邮箱中的验证链接，完成邮箱改绑！</p>
                <div class="email-resend">
                  <form action="" method="POST"><span class="txt">未收到邮件！</span><a id="J-resendEmailBtn" href="javascript:;" class="btn btn-resend btn-resend-wait">重新发送</a></form>
                </div>
                <div class="email-resend-tip"><span class="ok">发送成功</span><span class="failure">发送失败</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="../../scripts/lib/autoheight/main.js"></script>
</html>