<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>网站标题</title>
    <link rel="stylesheet" href="../../css/inner.css">
    <link rel="stylesheet" href="../../css/dialog.css">
    <link rel="stylesheet" href="../../css/vld.css">
    <link rel="stylesheet" href="../../css/subaccount.css">
    <script src="../../scripts/lib/requirejs-config/inner-dialog.js"></script>
    <script src="../../scripts/lib/requirejs/require.js" data-main="app/inner/sub-account-dialog"></script>
  </head>
  <body>
    <div id="main-page">
      <div class="manage-content">
        <div class="dialog-content dialog-subaccount">
          <div class="dialog-title"><span>新增子账号</span></div>
          <div class="dialog-result">
            <div class="vld-form">
              <form id="J-mainForm" method="POST" action="XXX.jspa">
                <div class="vld-form-controller">
                  <label class="controller-label"><span>用户名</span>
                  </label>
                  <div class="controller-inp J-controllerInp">
                    <input type="text" data-required="true" class="inp inp-vld">
                  </div>
                </div>
                <div class="vld-form-controller">
                  <label class="controller-label"><span>密码</span>
                  </label>
                  <div class="controller-inp J-controllerInp">
                    <input id="J-vldNewPassword" type="password" data-required="true" data-maxlength="20" class="inp inp-vld">
                  </div>
                </div>
                <div class="vld-form-controller">
                  <label class="controller-label"><span>确认密码</span>
                  </label>
                  <div class="controller-inp J-controllerInp">
                    <input type="password" data-required="true" data-equalto="#J-vldNewPassword" class="inp inp-vld">
                  </div>
                </div>
                <div class="vld-form-submit"><a id="J-validationFormSubmitBtn" class="btn btn-dialog J-btn"><span>确 认</span></a><a class="btn btn-dialog J-btn J-dialogCancel"><span>取 消</span></a></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>