<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>网站标题</title>
    <link rel="stylesheet" href="../../css/inner.css">
    <link rel="stylesheet" href="../../css/redirect.css">
    <script src="../../scripts/lib/requirejs-config/inner.js"></script>
    <script src="../../scripts/lib/requirejs/require.js" data-main="app/inner/main-redirect"></script>
  </head>
  <body>
    <div id="main-page">
      <div class="manage-content">
        <div class="crumbs">
          <div class="crumbs-content">
            <div class="crumbs-title"><span>当前位置：</span></div>
            <div class="crumbs-list"><a href="#" class="crumbs-item">资讯管理</a><span class="crumbs-item crumbs-item__is-divider">&gt;</span><a class="crumbs-item crumbs-item__is-last">资讯发布</a></div>
          </div>
        </div>
        <div class="space space-t10"></div>
        <div class="redirect-content">
          <form method="POST" action="XXX.jspa">
            <div class="redirect-title"><span>服务注册新增</span></div>
            <table class="redirect-table">
              <colgroup>
                <col class="redirect-col-th">
                <col class="redirect-col-td">
                <col class="redirect-col-th">
                <col class="redirect-col-td">
              </colgroup>
              <tbody>
                <tr>
                  <th><span class="cell-title">名称</span></th>
                  <td>
                    <div class="cell-inp-wrap">
                      <input type="text" class="inp inp-redirect">
                    </div>
                  </td>
                  <th><span class="cell-title">代码</span></th>
                  <td>
                    <div class="cell-inp-wrap">
                      <input type="text" class="inp inp-redirect">
                    </div>
                  </td>
                </tr>
                <tr>
                  <th><span class="cell-title">业务类型</span></th>
                  <td>
                    <div class="cell-inp-wrap">
                      <input type="text" class="inp inp-redirect">
                    </div>
                  </td>
                  <th><span class="cell-title">描述</span></th>
                  <td>
                    <div class="cell-inp-wrap">
                      <input type="text" class="inp inp-redirect">
                    </div>
                  </td>
                </tr>
                <tr>
                  <th><span class="cell-title">描述</span></th>
                  <td colspan="3">
                    <div class="cell-inp-wrap">
                      <textarea class="inp inp-redirect inp-textarea"></textarea>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th><span class="cell-title">服务类型</span></th>
                  <td colspan="3">
                    <div class="cell-inp-wrap">
                      <select class="inp inp-select">
                        <option value="0">全部</option>
                        <option value="1">类型1</option>
                        <option value="2">类型2</option>
                      </select>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="redirect-other uniq-top-border">
              <div class="other-content">
                <div class="select-related-content">
                  <div style="display:block;" class="select-related-item">
                    <div class="related-fieldset">
                      <div class="field-controller field-block">
                        <label class="field-label"><span>MQ地址</span></label>
                        <div class="field-group">
                          <input type="text" class="field-item inp inp-redirect">
                        </div>
                      </div>
                      <div class="field-controller field-block">
                        <label class="field-label"><span>MQ端口</span></label>
                        <div class="field-group">
                          <input type="text" class="field-item inp inp-redirect">
                        </div>
                      </div>
                      <div class="field-controller field-block">
                        <label class="field-label"><span>MQ通道</span></label>
                        <div class="field-group">
                          <input type="text" class="field-item inp inp-redirect">
                        </div>
                      </div>
                      <div class="field-controller field-block">
                        <label class="field-label"><span>MQ队列</span></label>
                        <div class="field-group">
                          <input type="text" class="field-item inp inp-redirect">
                        </div>
                      </div>
                      <div class="field-controller field-block">
                        <label class="field-label"><span>MQ队列管理器</span></label>
                        <div class="field-group">
                          <input type="text" class="field-item inp inp-redirect">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="select-related-item"></div>
                  <div class="select-related-item"></div>
                </div>
              </div>
            </div>
            <div class="redirect-operation"><a class="btn btn-redirect J-btn J-redirectConfirm"><span>确 认</span></a><a class="btn btn-redirect J-btn J-redirectCancel"><span>取 消</span></a></div>
          </form>
        </div>
      </div>
    </div>
  </body>
  <script src="../../scripts/lib/autoheight/main.js"></script>
</html>