<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>网站标题</title>
    <link rel="stylesheet" href="../../css/inner.css">
    <link rel="stylesheet" href="../../css/dialog.css">
    <script src="../../scripts/lib/requirejs-config/inner-dialog.js"></script>
    <script src="../../scripts/lib/requirejs/require.js" data-main="app/inner/main-dialog"></script>
  </head>
  <body>
    <div id="main-page">
      <div class="manage-content">
        <div class="dialog-content">
          <form id="J-testForm" action="XXX.jspa" method="post">
            <div class="dialog-title dialog-title__small"><strong>基础信息</strong></div>
            <table class="dialog-table">
              <colgroup>
                <col class="dialog-col-th">
                <col class="dialog-col-td">
                <col class="dialog-col-th">
                <col class="dialog-col-td">
              </colgroup>
              <tbody>
                <tr>
                  <th><span class="cell-title">名称</span></th>
                  <td>
                    <div class="cell-inp-wrap">
                      <input type="text" data-required="true" data-minlength="5" class="inp inp-dialog">
                    </div>
                  </td>
                  <th><span class="cell-title">代码</span></th>
                  <td>
                    <div class="cell-inp-wrap">
                      <input type="text" data-type="digits" class="inp inp-dialog">
                    </div>
                  </td>
                </tr>
                <tr>
                  <th><span class="cell-title">业务类型</span></th>
                  <td>
                    <div class="cell-inp-wrap">
                      <input type="text" class="inp inp-dialog">
                    </div>
                  </td>
                  <th><span class="cell-title">类型</span></th>
                  <td>
                    <div class="cell-inp-wrap">
                      <input type="text" class="inp inp-dialog">
                    </div>
                  </td>
                </tr>
                <tr>
                  <th><span class="cell-title">描述</span></th>
                  <td colspan="3">
                    <div class="cell-inp-wrap">
                      <textarea style="height: 80px;" class="inp inp-dialog inp-textarea"></textarea>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="space space-t5"></div>
            <div class="dialog-title dialog-title__small"><strong>接入信息</strong></div>
            <div style="z-index: 9990;" class="dialog-other">
              <div class="other-content">
                <table class="busi-service-table uniq-top-border">
                  <colgroup>
                    <col width="16%">
                    <col>
                    <col>
                    <col width="16%">
                    <col>
                    <col>
                  </colgroup>
                  <thead>
                    <tr>
                      <td colspan="3" class="cell__busi-title">接入服务</td>
                      <td colspan="3" class="cell__busi-title">接入服务</td>
                    </tr>
                    <tr>
                      <th>代码</th>
                      <th>名称</th>
                      <th>类型</th>
                      <th>代码</th>
                      <th>名称</th>
                      <th>类型</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="cell__center">
                        <input type="text" class="inp inp-dialog J-busiCodeInput">
                      </td>
                      <td><span class="J-busiName"></span></td>
                      <td><span class="J-busiType"></span></td>
                      <td class="cell__center">
                        <input type="text" class="inp inp-dialog J-busiCodeInput">
                      </td>
                      <td><span class="J-busiName"></span></td>
                      <td><span class="J-busiType"></span></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="space space-t5"></div>
            <div class="dialog-title dialog-title__small"><strong>接出信息</strong>
              <div class="busi-service-operation"><a href="javascript:;" title="新增行"><i class="ico-font btn-dialog-ico">&#xe605;</i></a><a href="javascript:;" title="删除行"><i class="ico-font btn-dialog-ico">&#xe606;</i></a></div>
            </div>
            <div style="z-index: 9991;" class="dialog-other">
              <div class="other-content">
                <table class="busi-service-table uniq-top-border table__operable">
                  <colgroup>
                    <col width="16%">
                    <col>
                    <col>
                    <col width="16%">
                    <col>
                    <col>
                  </colgroup>
                  <thead>
                    <tr>
                      <td colspan="3" class="cell__busi-title">接入服务</td>
                      <td colspan="3" class="cell__busi-title">接入服务</td>
                    </tr>
                    <tr>
                      <th>代码</th>
                      <th>名称</th>
                      <th>类型</th>
                      <th>代码</th>
                      <th>名称</th>
                      <th>类型</th>
                    </tr>
                  </thead>
                  <tbody class="J-resultContainer">
                    <tr>
                      <td class="cell__center">
                        <input type="checkbox" style="display:none;" class="inp-checkbox J-checkbox-one">
                        <input type="text" class="inp inp-dialog J-busiCodeInput">
                      </td>
                      <td><span class="J-busiName"></span></td>
                      <td><span class="J-busiType"></span></td>
                      <td class="cell__center">
                        <input type="text" class="inp inp-dialog J-busiCodeInput">
                      </td>
                      <td><span class="J-busiName"></span></td>
                      <td><span class="J-busiType"></span></td>
                    </tr>
                    <tr>
                      <td class="cell__center">
                        <input type="checkbox" style="display:none;" class="inp-checkbox J-checkbox-one">
                        <input type="text" class="inp inp-dialog J-busiCodeInput">
                      </td>
                      <td><span class="J-busiName"></span></td>
                      <td><span class="J-busiType"></span></td>
                      <td class="cell__center">
                        <input type="text" class="inp inp-dialog J-busiCodeInput">
                      </td>
                      <td><span class="J-busiName"></span></td>
                      <td><span class="J-busiType"></span></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="dialog-operation"><a class="btn btn-dialog J-btn J-dialogConfirm"><span>确 认</span></a><a class="btn btn-dialog J-btn J-dialogCancel"><span>取 消</span></a></div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>