<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>网站标题</title>
    <link rel="shortcut icon" type="image/x-icon" href="../favicon.ico">
    <link rel="stylesheet" href="../css/outer.css">
  </head>
  <body>
    <div id="main-page">
      <div id="site-header">
        <div class="site-header-container">
          <div class="site-logo"><a href="#" class="site-logo-linker"></a></div>
          <div class="site-userinfo"><span class="userinfo-txt userinfo-welcome">管理员，欢迎您！</span><span class="userinfo-txt userinfo-divider">|</span><a href="#" class="userinfo-txt userinfo-logout">退出</a></div>
        </div>
      </div>
      <div id="site-content">
        <div class="main-content-container">
          <div style="width: 1000px; margin: 0 auto;">
            <iframe style="width: 1000px; height: 612px;" src="../view/用户注册/邮箱验证.html" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
          </div>
        </div>
      </div>
      <div id="site-footer">
        <div class="site-footer--content">
          <p class="site-footer--sponsor">
            主办单位：
            中国（杭州）跨境电子商务综合试验区申报建设工作领导小组办公室
          </p>
          <p class="site-footer--organizer">承建单位：<a href="#" target="_blank" class="site-footer--linker">浙江电子口岸有限公司</a></p>
        </div>
      </div>
    </div>
  </body>
</html>