<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>微庆--weiqing</title>
    <link rel="shortcut icon" type="image/x-icon" href="../../favicon.ico">
    <link rel="stylesheet" href="../../css/mbase.css">
    <link rel="stylesheet" href="../../css/settings.css">
  </head>
  <body>
    <div id="head">
      <div class="hd-setting">
        <div class="ly-mid">
          <div class="hd-setting-lt"><span>您好，欢迎来到微庆！</span></div>
          <div class="hd-setting-rt">
            <div class="rt-links rt-links-accout"><a href="#">登录</a><span class="sep">|</span><a href="#">注册</a></div>
            <div class="rt-links"><a href="#">加入收藏</a><span class="sep">|</span><a href="#">新手上路</a></div>
          </div>
        </div>
      </div>
      <div class="hd-banner"></div>
      <div class="hd-nav">
        <div class="ly-mid">
          <ul class="nav-list">
            <li class="nav-item nav-item-active"><a href="#" class="nav-link">会员中心</a></li>
            <li class="nav-item"><a href="#" class="nav-link">互动现场</a></li>
            <li class="nav-item"><a href="#" class="nav-link">互动设置</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div id="body">
      <div class="bd-main">
        <div class="ly-mid">
          <div class="bd-content">
            <div class="settings-main">
              <div class="settings-left">
                <div class="settings-aside">
                  <ul class="leftnav">
                    <li class="leftnav-item"><a href="#" class="leftnav-link active"><span>邀请函设置</span></a></li>
                    <li class="leftnav-item"><a href="#" class="leftnav-link"><span>互动现场设置</span></a></li>
                    <li class="leftnav-item"><a href="#" class="leftnav-link"><span>座位安排</span></a></li>
                  </ul>
                </div>
              </div>
              <div class="settings-right">
                <div class="settings-kernel interaction-settings">
                  <div class="settings-kernel-crumbs"><span class="crumbs-item">邀请函设置</span><span class="crumbs-mark">></span><span class="crumbs-item">编辑邀请函</span></div>
                  <div class="settings-kernel-content">
                    <div class="settings-tab">
                      <div class="settings-tabbar"><a class="tabbar-item active">1 编辑邀请函</a><a class="tabbar-item">2 发送邀请函</a></div>
                      <div class="settings-tabcont">
                        <div class="interaction-writeinfos">
                          <form>
                            <div class="interaction-writeinfos-block">
                              <label class="writeinfos-label">发启人</label>
                              <input type="text" class="inp writeinfos-input">
                            </div>
                            <div class="interaction-writeinfos-block">
                              <label class="writeinfos-label">时　间</label>
                              <input type="text" class="inp writeinfos-input">
                            </div>
                            <div class="interaction-writeinfos-block">
                              <label class="writeinfos-label">地　点</label>
                              <input type="text" class="inp writeinfos-input">
                            </div>
                            <div class="interaction-writeinfos-block">
                              <label class="writeinfos-label">图片上传</label><span class="inp writeinfos-upload-input">
                                <input type="file" class="upload-file"><span class="upload-file-name"></span></span><a href="javascript:;" class="btn writeinfos-upload-btn"><span class="btn-txt">上　传</span></a>
                            </div>
                            <div class="interaction-upload-images">
                              <ul>
                                <li class="upload-images-item">
                                  <div class="upload-images-pic"><img src="../../images/temp/pic0.jpg" width="65" height="65"><span class="target">
                                      <label>封 面
                                        <input type="checkbox" class="ck">
                                      </label></span><a href="javascript:;" class="close">×</a></div>
                                </li>
                                <li class="upload-images-item">
                                  <div class="upload-images-pic"><img src="../../images/temp/pic0.jpg" width="65" height="65"><span class="target">
                                      <label>封 面
                                        <input type="checkbox" class="ck">
                                      </label></span><a href="javascript:;" class="close">×</a></div>
                                </li>
                                <li class="upload-images-item">
                                  <div class="upload-images-pic"><img src="../../images/temp/pic0.jpg" width="65" height="65"><span class="target">
                                      <label>封 面
                                        <input type="checkbox" class="ck">
                                      </label></span><a href="javascript:;" class="close">×</a></div>
                                </li>
                                <li class="upload-images-item">
                                  <div class="upload-images-pic"><img src="../../images/temp/pic0.jpg" width="65" height="65"><span class="target">
                                      <label>封 面
                                        <input type="checkbox" class="ck">
                                      </label></span><a href="javascript:;" class="close">×</a></div>
                                </li>
                                <li class="upload-images-item">
                                  <div class="upload-images-pic"><img src="../../images/temp/pic0.jpg" width="65" height="65"><span class="target">
                                      <label>封 面
                                        <input type="checkbox" class="ck">
                                      </label></span><a href="javascript:;" class="close">×</a></div>
                                </li>
                                <li class="upload-images-item">
                                  <div class="upload-images-pic"><img src="../../images/temp/pic0.jpg" width="65" height="65"><span class="target">
                                      <label>封 面
                                        <input type="checkbox" class="ck">
                                      </label></span><a href="javascript:;" class="close">×</a></div>
                                </li>
                              </ul>
                            </div>
                            <div class="interaction-botton"><a href="javascript:;" class="btn"><span class="btn-txt">预　览</span></a><a href="javascript:;" class="btn"><span class="btn-txt">下一步</span></a></div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="foot">
      <div class="ft-main">
        <div class="ly-mid">
          <div class="ft-wrap">
            <div class="ft-txt"><span>版权所有</span><span>&nbsp;©</span><span>&nbsp;2008-2014</span><span>&nbsp;深圳市企源动力科技有限公司.</span><span>&nbsp;&nbsp;版权归</span><span>&nbsp;</span><a href="#">微管家</a><span>&nbsp;所有,盗用必究</span><span>&nbsp;&nbsp;&nbsp;</span><a href="#">网站地图</a><span>&nbsp;&nbsp;&nbsp;备案号：粤ICP备13025925号</span></div>
            <div class="ft-txt"><span>公司地址：深圳市福田区深南路车公庙工业区（泰然）工贸园204栋东座7楼715室</span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|</span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#">代理申请</a><span>&nbsp;&nbsp;</span><a href="#">代理登录</a></div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="../../scripts/lib/requirejs/config.js"></script>
  <script src="../../scripts/lib/requirejs/require.js"></script>
</html>