.regist-final
	margin-top: 130px
.final-middle-content
	position: relative
	width: 440px
	margin: 0 auto
	text-align: center

.final-doll
	position: absolute
	left -($ico_sprite_doll[4])
	top 20px
	sprite($ico_sprite_doll);
	z-index: 2
.final-congratulation
	padding 0 10px
	font-size: 1.9em
	.ico-right	
		display: inline-block
		sprite($ico_sprite_right);
	.username
		margin 0 15px
		color #f14703


.final-tip
	margin: 35px 0
	font-size: 1.6em
	
.final-loginbtn
	display: inline-block
	width: 170px
	height: 38px
	background: #0b87e9
	color #fff
	line-height: @height - 1
	font-size: 1.4em
	font-weight: 700
	text-align: center
	&:hover
		color @color
		text-decoration: none
	
	

