.regist-had-account
	sprite($ico_sprite_tip);
	margin-bottom: 40px
	overflow: hidden
	font-size: 1.4em
	/.account-txt
		padding-left: 48px
		line-height: $ico_sprite_tip[5]
	/.account-login
		color #227ae2
		&:hover
			color @color
		