	
// #regist-protocol
// 	margin-top: 15px
// 	margin-bottom: 15px

.protocol-wrap
	line-height: 36px
	
	/.protocol-checkbox
		float: left
		margin-top: 12px
		margin-right: 6px
		*margin-top: 8px
		*margin-left: -3px
		*zoom 1
	/.protocol-cont
		float: left
		a
			color #294b8a
			&:hover
				color $glinkerHoverColor