/**
 * 文件: .css 
 * 公司: 浙江电子口岸
 * 作者: qzzf1987@gmail.com
 * 时间: 2015-04-28 20:11:04
 */
.error-container {
  width: 80%;
  padding-top: 80px;
  margin: 0 auto;
}
.error-divider {
  height: 1px;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: #e7e7e7;
}
.error-result {
  width: 376px;
  height: 154px;
  margin: 0 auto;
  background: url("../images/error/bg.png") 0 0 no-repeat;
}
.error-result-content {
  padding-left: 140px;
}
.error404 .error-result-content {
  padding-top: 65px;
}
.error500 .error-result-content {
  padding-top: 45px;
}
.error-result-txt {
  font-size: 1.6em;
  color: #cf3b00;
  font-weight: 700;
  line-height: 1.8;
}
.error-reason {
  width: 376px;
  margin: 0 auto;
  font-size: 1.4em;
}
.error-reason-list {
  margin: 0;
}
.error-reason-list dd {
  margin-top: 15px;
  margin-left: 35px;
}
.reason-hotline {
  color: #f14703;
  font-weight: 700;
}
