/**
 * 文件: .css 
 * 公司: 浙江电子口岸
 * 作者: qzzf1987@gmail.com
 * 时间: 2015-06-12 15:38:59
 */
.fail-container {
  width: 80%;
  padding-top: 150px;
  margin: 0 auto;
}
.fail-divider {
  height: 1px;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: #e7e7e7;
}
.fail-result {
  width: 370px;
  margin: 0 auto;
}
.fail-result-maintxt {
  position: relative;
  height: 32px;
  font-size: 1.6em;
  line-height: 32px;
}
.fail-result-maintxt .fail-txt {
  display: inline-block;
  position: relative;
  padding-left: 40px;
}
.fail-result-maintxt .fail-txt i {
  position: absolute;
  left: 0;
  top: 0;
  height: 32px;
  width: 32px;
  background: url("../images/fail/fail.png") 0 0 no-repeat;
}
.fail-result-tip {
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 1.4em;
}
.fail-result-oper {
  font-size: 1.4em;
}
.fail-result-oper a {
  color: #0088f3;
  margin-left: 5px;
  margin-right: 8px;
}
.fail-result-oper a:hover {
  color: #ff6567;
}
.fail-reason {
  margin-left: 40px;
  padding-top: 20px;
  font-size: 1.4em;
  text-align: left;
}
.fail-reason-list {
  margin: 0;
}
.fail-reason-list dd {
  margin-top: 6px;
  margin-left: 35px;
}
.reason-hotline {
  color: #f14703;
  font-weight: 700;
}
