/**
 * 文件: .css 
 * 公司: 浙江电子口岸
 * 作者: qzzf1987@gmail.com
 * 时间: 2015-06-15 11:00:59
 */
.result-tip {
  border: 1px solid #e3e1e1;
  text-align: center;
  background-color: #fff;
}
.result-tip span {
  display: inline-block;
  height: 35px;
  line-height: 35px;
  padding-left: 30px;
  font-size: 14px;
  background-repeat: no-repeat;
  background-position: 0 50%;
}
.result-tip-warn span {
  color: #da4d00;
  background-image: url("../images/jkf/warn.png");
}
.result-statistics {
  padding: 5px 15px;
  overflow: hidden;
  background-color: #e9f5ff;
  border: 1px solid #c7e1f6;
  font-size: 1.2em;
}
.statistics-btn {
  float: left;
}
.btn-statistics {
  padding-left: 16px;
  padding-right: 16px;
}
.statistics-amount {
  float: left;
  line-height: 28px;
}
.amount-item {
  float: left;
  margin-left: 40px;
}
.amount-num {
  font-style: normal;
  color: #ff7300;
}
