/**
 * 文件: .css 
 * 公司: 浙江电子口岸
 * 作者: qzzf1987@gmail.com
 * 时间: 2015-04-17 13:54:50
 */
.inp-redirect {
  width: 75%;
}
.inp-textarea {
  height: 6em;
}
.redirect-title {
  position: relative;
  background-color: #e9f5ff;
  line-height: 36px;
  border: 1px solid #c7e1f6;
  color: #0a2f4d;
  font-size: 1.2em;
}
.redirect-title span {
  margin-left: 8px;
}
.redirect-table {
  width: 100%;
  font-size: 1.2em;
  margin-top: -1px;
}
.redirect-col-th {
  width: 15%;
}
.redirect-col-td {
  width: 35%;
}
.redirect-table th {
  padding-top: 10px;
  border: 1px solid #e1e1e1;
  vertical-align: top;
  text-align: right;
  background-color: #e9f5ff;
  color: #535353;
}
.redirect-table td {
  padding-top: 4px;
  padding-bottom: 4px;
  vertical-align: middle;
  border: 1px solid #e1e1e1;
}
.cell-title {
  display: block;
  padding-right: 5px;
}
.cell-inp-wrap {
  padding-left: 5px;
}
.redirect-operation {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #e1e1e1;
  margin-top: -1px;
}
.redirect-operation .btn {
  border: 0;
  margin-left: 5px;
  margin-right: 5px;
  background: #0b87e9;
  filter: none;
  color: #fff;
}
.select-related-item {
  display: none;
  padding: 15px 0;
  border: 1px solid #e1e1e1;
}
.related-fieldset {
  width: 70%;
  margin: 0 auto;
}
