/**
 * 文件: .css 
 * 公司: 浙江电子口岸
 * 作者: qzzf1987@gmail.com
 * 时间: 2015-04-17 13:54:50
 */
.role-manage {
  font-size: 1.2em;
}
.role-manage .role-manage-title {
  padding-left: 10px;
  border: 1px solid #cee5fc;
  background-color: #f2f9ff;
  line-height: 32px;
}
.role-manage .role-manage-controllerForm {
  border-color: #dde1e4;
  border-width: 0 1px 1px 1px;
  border-style: solid;
}
.role-manage .role-manage-controllerForm form .role-manage-info {
  height: 38px;
  padding-left: 10px;
}
.role-manage .role-manage-controllerForm form .role-manage-info label {
  float: left;
  margin-top: 5px;
  margin-right: 60px;
}
.role-manage .role-manage-controllerForm form .role-manage-selectContainer {
  border-top: 1px solid #dde1e4;
}
.role-manage .role-manage-controllerForm form .role-manage-selectContainer .select-wrap {
  overflow: hidden;
  padding: 20px 5%;
}
.role-manage .role-manage-controllerForm form .role-manage-selectContainer .select-wrap .left,
.role-manage .role-manage-controllerForm form .role-manage-selectContainer .select-wrap .right {
  width: 35%;
}
.select-area {
  padding: 10px 20px 20px;
  border: 1px solid #dde1e4;
  zoom: 1;
  background-color: #e9f5ff;
}
.select-area .area-hd {
  padding-top: 8px;
  padding-bottom: 8px;
}
.select-area .area-hd .role-title {
  margin-right: 8px;
  font-weight: 700;
  color: #264863;
}
.select-area .area-hd .inp-role {
  width: 140px;
  height: 22px;
  line-height: 22px;
}
.select-area .area-bd {
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #dde1e4;
  background-color: #fff;
  overflow-y: auto;
}
.role-manage .role-manage-controllerForm form .role-manage-selectContainer .select-wrap .left {
  float: left;
}
.role-manage .role-manage-controllerForm form .role-manage-selectContainer .select-wrap .right {
  float: right;
}
.role-manage .role-manage-controllerForm form .role-manage-selectContainer .select-wrap .middle {
  float: left;
  width: 30%;
  height: 100%;
}
.role-manage .role-manage-controllerForm form .role-manage-selectContainer .select-wrap .middle .select-moveRole {
  padding-top: 150px;
}
.role-manage .role-manage-controllerForm form .role-manage-selectContainer .select-wrap .middle .select-moveRole a {
  display: block;
  width: 151px;
  height: 27px;
  margin: 28px auto;
  background: url("../images/inner/role-arrow.png") no-repeat 0 0;
  text-decoration: none;
  cursor: pointer;
}
.role-manage .role-manage-controllerForm form .role-manage-selectContainer .select-wrap .middle .select-moveRole a.checkedAll {
  background-position: 0 0;
}
.role-manage .role-manage-controllerForm form .role-manage-selectContainer .select-wrap .middle .select-moveRole a.checkedAny {
  background-position: 0 -27px;
}
.role-manage .role-manage-controllerForm form .role-manage-selectContainer .select-wrap .middle .select-moveRole a.deletedAny {
  background-position: 0 -54px;
}
.role-manage .role-manage-controllerForm form .role-manage-selectContainer .select-wrap .middle .select-moveRole a.deletedAll {
  background-position: 0 -81px;
}
.role-manage .role-manage-controllerForm form .role-manage-operation {
  padding-top: 5px;
  padding-bottom: 5px;
  border-top: 1px solid #dde1e4;
  text-align: center;
}
.role-left-menu {
  box-sizing: border-box;
  height: 500px;
}
.role-right-menu {
  box-sizing: border-box;
  height: 266px;
}
.role-selectArea-list dl.role-selectArea-category {
  margin: 0;
  height: 30px;
  overflow: hidden;
}
.role-selectArea-list dl.role-selectArea-category dt,
.role-selectArea-list dl.role-selectArea-category dd {
  height: 30px;
  line-height: 30px;
  padding-left: 30px;
  cursor: pointer;
}
.role-selectArea-list dl.role-selectArea-category dt {
  font-size: 1.17em;
}
.role-selectArea-list dl.role-selectArea-category dt i,
.role-selectArea-list dl.role-selectArea-category dt span {
  float: left;
}
.role-selectArea-list dl.role-selectArea-category dt i {
  width: 11px;
  height: 11px;
  margin-left: 5px;
  margin-top: 10px;
  background: url("../images/inner/role-fold.png") no-repeat 0 0;
}
.role-selectArea-list dl.role-selectArea-category dd {
  margin-left: 0;
  padding-left: 40px;
}
.role-selectArea-list dl.role-selectArea-category dd i,
.role-selectArea-list dl.role-selectArea-category dd span {
  float: left;
}
.role-selectArea-list dl.role-selectArea-category dd i {
  display: inline-block;
  width: 4px;
  height: 4px;
  background-color: #b7b7b7;
  border-radius: 50%;
  margin-right: 6px;
  margin-top: 14px;
}
.role-selectArea-list dl.role-selectArea-category dd.selected {
  background-color: #e9f5ff;
  color: #2b2b2b;
}
.role-selectArea-list dl.role-selectArea-category.opened {
  height: auto;
}
.role-selectArea-list dl.role-selectArea-category.opened dt i {
  background-position: 0 100%;
}
.role-selectArea-list.opposite li {
  display: none;
}
.role-selectArea-list.opposite dl.role-selectArea-category dd {
  display: none;
}
.role-user-list {
  height: 180px;
}
.role-user-item {
  height: 30px;
  line-height: 30px;
  cursor: pointer;
}
.user-name {
  display: block;
  padding-left: 15px;
}
.role-user-item.selected {
  background-color: #e9f5ff;
  cursor: default;
}
