/**
 * 文件: .css 
 * 公司: 浙江电子口岸
 * 作者: qzzf1987@gmail.com
 * 时间: 2015-04-28 20:11:04
 */
.fp-main {
  padding: 38px 46px;
}
.fp-middle-content {
  position: relative;
  margin: 0 auto;
}
.um-form-controller {
  position: relative;
  border: 1px solid #e1e1e1;
  margin-top: -1px;
}
.controller-label {
  float: left;
  width: 210px;
  background-color: #f2f9ff;
}
.controller-label span {
  display: block;
  padding: 8px 10px 8px 0;
  border-right: 1px solid #e1e1e1;
  text-align: right;
  font-size: 1.4em;
  line-height: 28px;
  color: #406c8f;
}
.required {
  color: #f00;
}
.controller-inp {
  float: left;
  padding-left: 10px;
  padding-top: 8px;
  font-size: 1.4em;
}
.inp-um {
  width: 240px;
}
.controller-txt {
  float: left;
  padding-left: 15px;
  font-size: 1.4em;
}
.controller-txt span {
  display: block;
  height: 44px;
  line-height: 44px;
}
.controller-txt .txt-email {
  color: #0567b4;
}
.controller-tip {
  position: absolute;
  top: 8px;
  left: 478px;
  font-size: 1.2em;
}
.tip-txt {
  display: block;
  height: 22px;
  padding: 0 7px;
  line-height: 22px;
}
.controller-tip .hint {
  padding-top: 2px;
  padding-bottom: 2px;
  border: 1px solid #dedede;
  background: #f7f7f7;
}
.controller-tip .hint .tip-txt {
  color: #585858;
}
.controller-tip .error {
  position: relative;
  padding-top: 2px;
  padding-bottom: 2px;
  border: 1px solid #ffb398;
  background: #ffebe0 url("../images/um/cuo.png") no-repeat 8px 5px;
  *zoom: 1;
}
.ico-cuo {
  position: absolute;
  left: 7px;
  top: 7px;
  background-image: url("../images/um/sprite.png");
  background-position: -170px -69px;
  width: 17px;
  height: 17px;
  vertical-align: middle;
}
.controller-tip .error .tip-txt {
  padding-left: 30px;
  color: #e60012;
}
.controller-tip .success {
  padding-left: 7px;
  padding-top: 3px;
}
.ico-dui {
  display: inline-block;
  background-image: url("../images/um/sprite.png");
  background-position: -170px -86px;
  width: 17px;
  height: 17px;
  vertical-align: middle;
}
.um-form-submit {
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid #e1e1e1;
  margin-top: -1px;
  text-align: center;
  background-color: #f8f6f7;
}
.um-form-submit .btn {
  margin: 0 4px;
}
.um-email {
  margin-top: 150px;
}
.um-email .um-middle-content {
  position: relative;
  width: 450px;
  margin: 0 auto;
}
.email-ico {
  position: absolute;
  left: -83px;
  top: -7px;
  background-image: url("../images/um/sprite.png");
  background-position: -108px 0px;
  width: 83px;
  height: 69px;
}
.email-send {
  font-size: 1.6em;
  padding-left: 15px;
}
.email-send strong {
  font-size: 1.2em;
  color: #0466b3;
}
.email-period {
  margin-top: 10px;
  font-size: 1.6em;
  padding-left: 15px;
}
.email-resend {
  height: 36px;
  padding-left: 15px;
  margin-top: 40px;
  line-height: 36px;
}
.email-resend .txt {
  margin-right: 15px;
  font-size: 1.6em;
}
.email-resend .btn-resend {
  height: 36px;
  width: 160px;
  padding: 0;
  border: 0;
  border-radius: 3px;
  background: #0b87e9;
  color: #fff;
  line-height: 36px;
  filter: none;
  text-align: center;
  font-size: 1.6em;
}
.email-resend .btn-resend-wait {
  cursor: default;
  background: #e0dede;
  color: #8d8b8b;
}
.email-resend-tip {
  padding-left: 15px;
  margin-top: 6px;
  font-size: 1.2em;
}
.email-resend-tip .ok {
  color: #1cb31c;
}
.email-resend-tip .failure {
  color: #f00;
}
.um-success {
  position: relative;
  width: 220px;
  margin: 110px auto 0;
}
.success-doll {
  position: absolute;
  left: -108px;
  top: -20px;
  background-image: url("../images/um/sprite.png");
  background-position: 0px 0px;
  width: 108px;
  height: 154px;
  z-index: 2;
}
.success-congratulation {
  font-size: 1.9em;
  margin-bottom: 15px;
}
.success-congratulation .ico-right {
  display: inline-block;
  background-image: url("../images/um/sprite.png");
  background-position: -108px -69px;
  width: 62px;
  height: 57px;
}
.success-loginbtn {
  display: inline-block;
  width: 170px;
  height: 38px;
  background: #0b87e9;
  color: #fff;
  line-height: 37px;
  font-size: 1.4em;
  font-weight: 700;
  text-align: center;
}
.success-loginbtn:hover {
  color: #fff;
  text-decoration: none;
}
.placeholder {
  position: relative;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
}
.placeholder-text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: #ccc;
  z-index: 50000;
}
.placeholder-text em {
  display: block;
  font-style: normal;
  margin-left: 5px;
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
