$gwidth            = 1000px

$gfontSize		   = 12px
$hfontSize		   = 14px
$ifontSize		   = 18px
$xfontSize		   = 20px



$gsiteColor        = #ff3000
$gsiteBorderColor  = #e2e2e2

$glinkerColor      = #19507c
$glinkerHoverColor = $gsiteColor

$gportalSiteColor  = #30a1f2