$gwidth            = 1000px

$gfontSize		   = 12px
$hfontSize		   = 14px
$ifontSize		   = 18px

$glinkerColor      = #19507c
$glinkerHoverColor = #ff6567

$gsiteColor        = #ff3000
$gsiteBorderColor  = #e2e2e2


$gportalSiteColor  = #30a1f2