.busi-service-table
	font-size: 1.2em
	table-layout: fixed
	th
		background-color: #f4f4f4
		font-weight: 100
		color #535353
		font-weight: 700
	th
	td
		height: 26px
		border: 1px solid $bdColor2
	
	.cell__center
		text-align: center
	
	.cell__busi-title
		padding-left: 8px
		background-color: $thBackgroudColor
	.tr__is-active
	.tr__is-hover
		background-color: #e9f5ff


	.autocomplete-menu
		width: 98px
		top auto!important
		bottom 100%!important
		left 50%!important
		margin-left: -(@width/2)
		z-index: 99999


.btn-busi
	height: 20px
	line-height: @height
	padding 0 8px


.busi-service-operation
	position: absolute
	right 0
	top 0
	padding-right: 10px
	a
		margin-left: 5px
		margin-top: 1px
		padding-left 4px
		padding-right: 4px
		font-size: 1.6em
		vertical-align: top
		text-decoration: none
		