html
	overflow-y: auto
.manage-content
	padding-top: 0

.inp
	/&-dialog
		height: 22px
		line-height @height
		width: 75%
	/&-select
		height: 24px
	
	/&-textarea
		height: 3em


.field-controller
	line-height 36px