<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>微庆--weiqing</title>
    <link rel="shortcut icon" type="image/x-icon" href="../../favicon.ico">
    <link rel="stylesheet" href="../../css/base.css">
    <script src="../../scripts/lib/requirejs/config.js"></script>
    <script src="../../scripts/lib/requirejs/require.js" data-main="app/index/main"></script>
  </head>
  <body>
    <div id="head">
      <div class="hd-setting">
        <div class="ly-mid">
          <div class="hd-setting-lt"><span>您好，欢迎来到微庆！</span></div>
          <div class="hd-setting-rt">
            <div class="rt-links rt-links-accout"><a href="#">登录</a><span class="sep">|</span><a href="#">注册</a></div>
            <div class="rt-links"><a href="#">加入收藏</a><span class="sep">|</span><a href="#">新手上路</a></div>
          </div>
        </div>
      </div>
      <div class="hd-nav-wrap">
        <div class="hd-logo"></div>
        <div class="hd-hotline"></div>
        <div class="hd-nav"></div>
      </div>
    </div>
    <div id="body">身体</div>
    <div id="foot">脚</div>
  </body>
</html>