.fail-reason
	// width: 376px
	margin-left 40px
	padding-top: 20px
	font-size: 1.4em
	text-align: left
	/.fail-reason-list
		margin: 0
		dd
			margin-top: 6px
			margin-left: 35px
		
		/.reason-hotline
			color #f14703
			font-weight: 700