.um-email
	margin-top: 150px
	.um-middle-content
		position: relative
		width: 450px
		margin: 0 auto;
	/.email-ico
		position: absolute
		left -($ico_sprite_mail[4])
		top -7px
		sprite($ico_sprite_mail)
	
	/.email-send
		font-size: 1.6em
		padding-left: 15px
		strong
			font-size: 1.2em
			color #0466b3
	/.email-period
		margin-top: 10px
		font-size: 1.6em
		padding-left: 15px
	
	/.email-resend
		height: 36px
		padding-left 15px
		margin-top 40px
		line-height: @height
		.txt
			margin-right: 15px
			font-size: 1.6em
		.btn-resend
			height: 36px
			width: 160px
			padding: 0
			border: 0
			border-radius: 3px
			background: #0b87e9
			color #fff
			line-height: @height
			filter none
			text-align: center
			font-size: 1.6em
		.btn-resend-wait
			cursor: default
			background: #e0dede
			color #8d8b8b
		
	/.email-resend-tip
		padding-left 15px
		margin-top: 6px
		font-size: 1.2em
		.ok
			color #1cb31c
		.failure
			color #f00