.um-success
	position: relative
	width: 220px
	margin: 110px auto 0	

.success-doll
	position: absolute
	left -($ico_sprite_doll[4])
	top -20px
	sprite($ico_sprite_doll);
	z-index: 2
.success-congratulation
	font-size: 1.9em
	margin-bottom: 15px
	.ico-right	
		display: inline-block
		sprite($ico_sprite_right);
	
.success-loginbtn
	display: inline-block
	width: 170px
	height: 38px
	background: #0b87e9
	color #fff
	line-height: @height - 1
	font-size: 1.4em
	font-weight: 700
	text-align: center
	&:hover
		color @color
		text-decoration: none
	
	

