<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>网站标题</title>
    <link rel="shortcut icon" type="image/x-icon" href="../../favicon.ico">
    <link rel="stylesheet" href="../../css/rebind.css">
    <script src="../../scripts/lib/requirejs-config/rebind.js"></script>
    <script src="../../scripts/lib/requirejs/require.js" data-main="app/rebind/main"></script>
  </head>
  <body>
    <div id="main-page">
      <div id="site-content">
        <div class="main-content-container">
          <div class="rebind-main">
            <div class="chunk rebind-content">
              <div class="chunk--hd">
                <div class="chunk-title"><a href="javascript:;" class="chunk-title--item chunk-title--txt chunk-title--item__is-active">改绑邮箱<span class="title-hover-bottom-line"></span></a></div>
              </div>
              <div class="chunk--bd">
                <div class="chunk-content">
                  <div class="rebind-email">
                    <div class="rebind-middle-content">
                      <p class="email-send">您的新邮箱是 <strong>704337589@qq.com</strong></p>
                      <p class="email-period">为了您的账号安全，请确认您的密码，只差一步，改绑邮箱就成功了！</p>
                      <div class="verify-password">
                        <form method="" action="">
                          <div class="clearfix rebind-form-controller">
                            <label class="controller-label">密码
                            </label>
                            <div class="controller-inp J-controllerInp">
                              <input type="password" placeholder="请输入您的密码" data-required="true" class="inp inp-fp">
                            </div>
                          </div>
                          <div class="rebind-form-submit">
                            <input type="submit" value="确 认" class="rebind-submit-btn J-rebindFormSubmitBtn">
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>