<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>网站标题</title>
    <link rel="shortcut icon" type="image/x-icon" href="../../favicon.ico">
    <link rel="stylesheet" href="../../css/rebind.css">
    <script src="../../scripts/lib/requirejs-config/rebind.js"></script>
    <script src="../../scripts/lib/requirejs/require.js" data-main="app/rebind/main"></script>
  </head>
  <body>
    <div id="main-page">
      <div id="site-content">
        <div class="main-content-container">
          <div class="rebind-main">
            <div class="chunk rebind-content">
              <div class="chunk--hd">
                <div class="chunk-title"><a href="javascript:;" class="chunk-title--item chunk-title--txt chunk-title--item__is-active">改绑邮箱<span class="title-hover-bottom-line"></span></a></div>
              </div>
              <div class="chunk--bd">
                <div class="chunk-content">
                  <div class="rebind-final">
                    <div class="rebind-middle-content"><i class="error-doll"></i>
                      <div class="error-txt">
                        <p>链接失效</p>
                        <p>您访问的页面已失效，请重新操作</p>
                      </div><a href="#" class="final-loginbtn">重新登录</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>