.letter-side
	position: absolute;
	right 30px
	bottom 30%
	width: 45px
	.side-btn
		display: block
		width: 45px
		height 45px
		margin: 8px 0;
		background-color: #ff375d
		border-radius: 50%
		background-size: 52% 52%
		background-position: 50% 50%
		background-repeat: no-repeat
		&.side-pic
			background-image: url(../../images/weixin/side-pic.png)
		&.side-bgm
			background-image: url(../../images/weixin/side-bgm.png)

.letter-arrow
	position: absolute;
	left 50%
	bottom 10%
	width: 38px
	height 30px
	margin-left: -(@width/2)
	background: url(../../images/weixin/letter-arrow.png) 0 0 no-repeat
	background-size: cover
.letter-page
	width: 100%
	height: 100%
	padding-top: 80px
	background: url(../../images/weixin/letter-page-bg.jpg) 0 0 no-repeat
	background-size: cover
	background-repeat: no-repeat
	background-position: 0 0
	background-size: 100% 100%
	
	.img-center
		display: block
		margin: 0 auto
	.letter-title
		margin-bottom: -25px
	.letter-name
		height 60px
		background: url(../../images/weixin/letter-name-bg.png) 50% 0 no-repeat
		background-size: auto 100%
		text-align: center;
		line-height: 72px
		margin-top: 60px
		> span
			color #fff
			font-size: 26px
			&:nth-child(2)
				margin: 0 10px
	
	.letter-time
		text-align: center;
		font-size: 26px
		color #fff
		margin-top: 40px
	
	.letter-desc
		margin-top: 40px
		margin-bottom: 40px
		text-align: center;
		font-size: 26px
		color #fff
		p
			margin: 10px 0;
	
	a.letter-btn
		display: block
		width: 60%
		height 60px
		margin: 20px auto;
		border-radius: 6px
		line-height: @height
		text-align: center;
		color #fff
		font-size: 32px
		background: #ff224c
		&:hover
			text-decoration: none
