.menu
	position: absolute
	left 50%
	bottom 5%
	height 60px
	width: 530px
	margin-left: -(@width/2)
	background-color: rgba(31,31,31,.8)
	line-height: @height
	transform(translate3d(0,500px,0))
	transition(transform,.5s)
	/.view-800 &
		width: 402px
		height: 45px
		margin-left: -(@width/2)
		line-height: @height

	/.menu-list
		text-align: center
		/.menu-item
			display: inline-block
			width: 42px
			height 41px
			margin-left: 10px
			margin-right: 10px
			vertical-align: middle
			background: url($wallImageRoot + "menu-ico.png") no-repeat 0 0
			for num in 1..7
				&:nth-child({num})
					background-position: unit(-((num - 1)*42), 'px') 0
					/.view-800 &
						background-position: unit(-((num - 1)*32), 'px') 0
						
					&.active
					&:hover
						background-position: unit(-((num - 1)*42), 'px') 100%
						/.view-800 &
							background-position: unit(-((num - 1)*32), 'px') 100%
						
			/.view-800 &
				width: 32px
				height: 31px
	&.active
		transform(translate3d(0,0,0))
