<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>微庆微信版</title>
    <link rel="shortcut icon" type="image/x-icon" href="../../favicon.ico">
    <link rel="stylesheet" href="../../css/wx/weixin.css">
  </head>
  <body>
    <div class="wx-container">
      <div class="game-body">
        <div class="game-list">
          <div class="item"><a href="#" class="game-logo runman">
              <div class="game-name">奔跑吧兄弟</div></a></div>
          <div class="item"><a href="#" class="game-logo eat">
              <div class="game-name">超级大胃王</div></a></div>
          <div class="item"><a href="#" class="game-logo gesture">
              <div class="game-name">石头剪刀布</div></a></div>
          <div class="item"><a href="#" class="game-logo mahjong">
              <div class="game-name">搓牌高手</div></a></div>
          <div class="item"><a href="#" class="game-logo wipe">
              <div class="game-name">微庆刮刮乐</div></a></div>
        </div>
      </div>
    </div>
    <script src="http://192.168.1.101:9100/zepto/zepto.js"></script>
  </body>
</html>