<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>微庆微信版</title>
    <link rel="shortcut icon" type="image/x-icon" href="../../favicon.ico">
    <link rel="stylesheet" href="../../css/wx/letter.css">
  </head>
  <body>
    <div class="wx-container">
      <div class="letter-body">
        <div class="letter-side"><a class="side-btn side-pic"></a><a class="side-btn side-bgm"></a></div>
        <div class="letter-arrow"></div>
        <div class="letter-page"><img src="../../images/weixin/letter-pic1.png" width="60%" class="img-center letter-title"><img src="../../images/weixin/letter-pic2.png" width="85%" class="img-center">
          <div class="letter-name"><span>王小二</span><span>&</span><span>李小六</span></div>
          <div class="letter-time"><span>2015.12.18</span></div>
        </div>
        <div class="letter-page"><img src="../../images/weixin/letter-pic2.png" width="85%" class="img-center">
          <div class="letter-desc">
            <p>王小二&李小六</p>
            <p>2015-12-18 星期六 18点18分</p>
            <p>杭州市市中心大酒店</p>
            <p>下城区市中心路128号</p>
          </div><a class="letter-btn">祝福留言</a><a class="letter-btn">一键导航</a>
        </div>
      </div>
    </div>
    <script src="http://192.168.1.100:9100/zepto/zepto.js"></script>
    <script src="../../scripts/app/weixin/letter.js"></script>
  </body>
</html>