include ../variable/global.jade
- var rootDir = '../..'
- var cssRoot  = rootDir + '/css'
- var jsRoot   = rootDir + '/scripts'
- var imgRoot  = rootDir + '/images'
- var htmlRoot = rootDir + '/view'

//- - var navIndex = 0

doctype html
html
	head
		meta(charset = 'utf-8')
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		block head-title
			title 微庆--weiqing
		link(rel = 'shortcut icon', type = 'image/x-icon', href = '#{rootDir}/favicon.ico')
		block head-theme
			link(rel = 'stylesheet' href = '#{cssRoot}/base.css')
		block head-script
			script(src = '#{jsRoot}/lib/requirejs/config.js')
		block head-requirejs-script
			//- script.
				//- require.baseUrl = '..' + require.baseUrl;
				//- require.paths.outer = '../app/outer/module';
			script(src = '#{jsRoot}/lib/requirejs/require.js' data-main="app/index/main")
	body

		#head
			.hd-setting
				.ly-mid
					.hd-setting-lt
						span 您好，欢迎来到微庆！
					.hd-setting-rt
						.rt-links.rt-links-accout
							a(href="#") 登录
							span.sep |
							a(href="#") 注册
						.rt-links
							a(href="#") 加入收藏
							span.sep |
							a(href="#") 新手上路

			.hd-nav-wrap
				.hd-logo
				.hd-hotline
				.hd-nav



		#body
			| 身体
		#foot
			| 脚

					
	block floor-script
