include ../variable/global.jade

- var cssRoot  = rootDir + '/css'
- var jsRoot   = rootDir + '/scripts'
- var imgRoot  = rootDir + '/images'
- var htmlRoot = rootDir + '/view'

//- - var navIndex = 0

doctype html
html
	head
		meta(charset = 'utf-8')
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		block head-title
			title 网站标题
		link(rel = 'shortcut icon', type = 'image/x-icon', href = '#{rootDir}/favicon.ico')
		block head-theme
			link(rel = 'stylesheet' href = '#{cssRoot}/outer.css')
	body
		#main-page
			#site-header
				.site-header-container
					block site-header
						include ../app/outer/site-logo.jade
						//- include ../app/outer/site-userinfo.jade

			#site-content
				.main-content-container
					block site-content
					//- .content-left
					//- 	include ../app/outer/site-nav.jade

					//- .content-right
					//- 	block site-content

			#site-footer
				block site-footer
					include ../app/outer/site-footer4portal.jade
					
	block floor-script

