include ../variable/global.jade
- var rootDir = '../..'
- var cssRoot  = rootDir + '/css'
- var jsRoot   = rootDir + '/scripts'
- var imgRoot  = rootDir + '/images'
- var htmlRoot = rootDir + '/view'

//- - var navIndex = 0

doctype html
html(ng-app="wq-wall-app")
	head
		meta(charset = 'utf-8')
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		block head-title
			title 微庆--weiqing
		link(rel = 'shortcut icon', type = 'image/x-icon', href = '#{rootDir}/favicon.ico')
		//- script(src="http://127.0.0.1:9100/angular/angular.js")
		//- script(src="http://127.0.0.1:9100/angular-route/angular-route.js")
		//- script(src="http://127.0.0.1:9100/angular-animate/angular-animate.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-route.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-animate.min.js")
		link(rel = 'stylesheet' href = '#{cssRoot}/wall_800_600.css')
	body.view-800
		ng-view
		.menu(wq-menu ng-class="{active: menuCtrl.active}")
		block main-script
			script(src="#{jsRoot}/app/wall/main.js")
		
