extends ../../layout/forget.jade

append variable
	- var navIndex    = -1

//- append head-theme
	link(rel = 'stylesheet' href = '#{cssRoot}/fp.css')

block site-content
	.fp-main
		.chunk.fp-content
			.chunk--hd
				.chunk-title
					a.chunk-title--item.chunk-title--txt.chunk-title--item__is-active(href="javascript:;")
						| 重置密码
						span.title-hover-bottom-line
			.chunk--bd
				.chunk-content
					.fp-email
						.fp-middle-content
							i.email-ico
							p.email-send
								| 密码重置邮件已发送到 
								strong ******56@163.com
							p.email-period
								| 请在24小时内点击邮箱中的密码重置链接，重新设置密码！