<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>微庆--weiqing</title>
    <link rel="shortcut icon" type="image/x-icon" href="../../favicon.ico">
    <link rel="stylesheet" href="../../css/mbase.css">
    <link rel="stylesheet" href="../../css/member.css">
  </head>
  <body>
    <div id="head">
      <div class="hd-setting">
        <div class="ly-mid">
          <div class="hd-setting-lt"><span>您好，欢迎来到微庆！</span></div>
          <div class="hd-setting-rt">
            <div class="rt-links rt-links-accout"><a href="#">登录</a><span class="sep">|</span><a href="#">注册</a></div>
            <div class="rt-links"><a href="#">加入收藏</a><span class="sep">|</span><a href="#">新手上路</a></div>
          </div>
        </div>
      </div>
      <div class="hd-banner"></div>
      <div class="hd-nav">
        <div class="ly-mid">
          <ul class="nav-list">
            <li class="nav-item nav-item-active"><a href="#" class="nav-link">会员中心</a></li>
            <li class="nav-item"><a href="#" class="nav-link">互动现场</a></li>
            <li class="nav-item"><a href="#" class="nav-link">互动设置</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div id="body">
      <div class="bd-main">
        <div class="ly-mid">
          <div class="bd-content">
            <div class="member-main">
              <div class="member-left">
                <div class="member-profile-panel">
                  <div class="profile-avatar">
                    <div class="avatar-border"><img src="../../images/temp/avatar.jpg" class="avatar-img"></div>
                  </div>
                  <div class="profile-userinfo">
                    <ul class="userinfo-list">
                      <li class="userinfo-item"><span class="k">姓名：</span><span class="v">张三</span></li>
                      <li class="userinfo-item"><span class="k">状态：</span><span class="v">正常</span></li>
                      <li class="userinfo-item"><span class="k">微信昵称：</span><span class="v">tony00123</span></li>
                      <li class="userinfo-item"><span class="k">电话：</span><span class="v">139*****042</span></li>
                    </ul>
                  </div>
                  <div class="profile-times">
                    <P>
                       
                      这是您第<span class="times-num">2</span>次，感谢
                    </P>
                  </div>
                  <div class="profile-date">
                    <p>最后登陆时间：<span class="date-time">2015-05-01</span></p>
                  </div>
                  <div class="profile-settings"><a href="#">设置>></a></div>
                </div>
                <div class="member-email"><a href="#"><img src="../../images/member/envelop.jpg" alt="邮箱"></a></div>
              </div>
              <div class="member-right">
                <div class="member-game">
                  <ul class="game-list">
                    <li class="game-item game-item-first"><a><img src="../../images/member/g1.png" class="game-pic">
                        <div class="game-name"><span>微信墙</span></div></a></li>
                    <li class="game-item"><a><img src="../../images/member/g2.png" class="game-pic">
                        <div class="game-name"><span>邀请函</span></div></a></li>
                    <li class="game-item"><a><img src="../../images/member/g3.png" class="game-pic">
                        <div class="game-name"><span>超级大胃王</span></div></a></li>
                    <li class="game-item"><a><img src="../../images/member/g4.png" class="game-pic">
                        <div class="game-name"><span>奔跑吧兄弟</span></div></a></li>
                    <li class="game-item"><a><img src="../../images/member/g5.png" class="game-pic">
                        <div class="game-name"><span>搓牌高手</span></div></a></li>
                    <li class="game-item"><a><img src="../../images/member/g6.png" class="game-pic">
                        <div class="game-name"><span>无敌大转盘</span></div></a></li>
                  </ul>
                </div>
                <div class="member-party">
                  <div class="party-setting">
                    <div class="party-setting-title"><span>我的聚会日期</span><a class="party-setting-icon"></a></div>
                    <div class="party-setting-info">
                      <div class="party-setting-date">
                        <div class="date-day"><span>16</span></div>
                        <div class="date-week"><span>星期六</span></div>
                        <div class="date-month"><span>2015.05</span></div>
                      </div>
                      <div class="party-setting-address"><span>星光大酒店</span></div>
                    </div>
                  </div>
                  <div class="party-flow">
                    <div class="party-flow-title"><span>微庆使用流程</span></div>
                    <div class="party-flow-content"></div>
                  </div>
                </div>
                <div class="member-news-help">
                  <div class="news">
                    <div class="news-title"><span>我的聚会</span></div>
                    <div class="news-content">
                      <ul class="news-list">
                        <li class="news-item"><span class="news-party-title">▪ 小明与小洁的婚礼</span><span class="news-party-address">星光大酒店</span><span class="news-party-date">2015-6-23  19：00</span></li>
                        <li class="news-item"><span class="news-party-title">▪ 小明与小洁的婚礼</span><span class="news-party-address">星光大酒店</span><span class="news-party-date">2015-6-23  19：00</span></li>
                        <li class="news-item"><span class="news-party-title">▪ 小明与小洁的婚礼</span><span class="news-party-address">星光大酒店</span><span class="news-party-date">2015-6-23  19：00</span></li>
                        <li class="news-item"><span class="news-party-title">▪ 小明与小洁的婚礼</span><span class="news-party-address">星光大酒店</span><span class="news-party-date">2015-6-23  19：00</span></li>
                      </ul>
                    </div>
                  </div>
                  <div class="help">
                    <div class="help-title"><span>帮助中心</span></div>
                    <div class="help-content">
                      <ul class="help-list">
                        <li class="help-item"><a href="#">怎样玩转聚会？</a></li>
                        <li class="help-item"><a href="#">怎样玩转聚会？</a></li>
                        <li class="help-item"><a href="#">怎样玩转聚会？</a></li>
                        <li class="help-item"><a href="#">怎样玩转聚会？</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="foot">
      <div class="ft-main">
        <div class="ly-mid">
          <div class="ft-wrap">
            <div class="ft-txt"><span>版权所有</span><span>&nbsp;©</span><span>&nbsp;2008-2014</span><span>&nbsp;深圳市企源动力科技有限公司.</span><span>&nbsp;&nbsp;版权归</span><span>&nbsp;</span><a href="#">微管家</a><span>&nbsp;所有,盗用必究</span><span>&nbsp;&nbsp;&nbsp;</span><a href="#">网站地图</a><span>&nbsp;&nbsp;&nbsp;备案号：粤ICP备13025925号</span></div>
            <div class="ft-txt"><span>公司地址：深圳市福田区深南路车公庙工业区（泰然）工贸园204栋东座7楼715室</span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|</span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#">代理申请</a><span>&nbsp;&nbsp;</span><a href="#">代理登录</a></div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="../../scripts/lib/requirejs/config.js"></script>
  <script src="../../scripts/lib/requirejs/require.js"></script>
</html>