.interaction-chunk
	width: 460px
	/.chunk-editor
		margin-top: 20px
	/.chunk-audit
		margin-top: 20px
	/.chunk-oper
		margin-top: 30px

	.chunk-hd
		position: relative
		/.interaction-title
			font-size: 1.4em
			color #0567b4
			font-weight: 700
			/.chunk-audit-fail &
				color #f14703
		/.interaction-hd-time
			position: absolute
			right 0
			top 0
			font-size: 1.2em
			color #9a9a9a
			.time
				margin-left: 18px
	.chunk-bd
		margin-top: 8px
		/.interaction-content
			padding 10px 12px
			border: 1px solid #cce4f7
			background-color: #e9f5ff
			line-height: 1.5
			color #1b1b1b
			p
				font-size: 1.2em
			h2
				padding-bottom: 5px
				border-bottom: 1px solid #ccc
				margin 0 0 10px 0
				font-size: 1.4em
				color #555
			/.chunk-audit-fail &
				background-color: #f7f7f7
				border-color: #e2e1e1
		/.interaction-type
			font-size: 1.2em
			margin-right: 50px

		/.interaction-textarea
			font-size 1.2em
		/.interaction-audit
			font-size: 1.2em
			overflow: hidden
			/.audit-status-select
				float: left
			/.audit-relative
				float: left
				margin-left: 15px
				
			/.audit-relative-content
				display: none
			/.audit-pass
				padding-top: 6px
				label
					margin-right: 12px
			/.audit-fail
				input
					border-color: #e5e4e4
					width: 250px

	.chunk-ft
		margin-top: 8px
		/.interaction-ft-info
			overflow: hidden
			font-size: 1.2em
			color #9a9a9a
			span
				float: left
				width: 30%
				min-height 1px
				/&.time
					width: 40%
					text-align: right

