$modalWidth  = 460px
$modalHeight = 162px

.modal-delete-interaction
	margin-left: -($modalWidth/2)
	margin-top: -($modalHeight/2)

.interaction-delete-layer
	width: $modalWidth
	height: $modalHeight
	background: #f7f7f7
	.layer-wrap
		padding 16px 15px 0
	.delete-title
		font-size: 1.4em
		color #0567b4
		font-weight: 700
	.delete-reason
		padding 4px 4px 0
		border: 1px solid #dadada
		margin-top: 8px
		background: #fff
		font-size: 1.2em
		textarea
			padding 0
			border: 0
			outline: 0
			width: 100%
			line-height: 1.5
			height: unit(3*@line-height, 'em')
	.delete-btns
		margin-top: 14px
		text-align: center
		a
			margin 0 3px
			
			