// .redirect-content
// 	padding 10px 8px

.redirect-title
	position: relative
	background-color: #e9f5ff
	line-height: 36px
	border: 1px solid $bdColor
	color #0a2f4d
	font-size: 1.2em
	span
		margin-left: 8px
	
.redirect-table
	width: 100%
	font-size: 1.2em
	margin-top: -1px
	/.redirect-col-th
		width: 15%
	/.redirect-col-td
		width: 35%
	th
		padding-top: 10px
		border: 1px solid $bdColor2
		vertical-align: top
		text-align: right
		background-color: #e9f5ff
		color #535353
		
	td
		padding-top: 4px
		padding-bottom: 4px
		// min-height: 36px
		vertical-align: middle
		border: 1px solid $bdColor2
	/.cell-title
		display: block
		padding-right: 5px
	/.cell-inp-wrap
		padding-left: 5px

.redirect-operation
	text-align: center
	padding-top: 10px
	padding-bottom 10px
	border: 1px solid $bdColor2
	margin-top: -1px
	.btn
		border: 0
		margin-left: 5px
		margin-right: 5px
		background: #0b87e9
		filter none
		color #fff
