extends ../../layout/weixin.jade

block wx-body
	.game-body
		.game-list
			.item
				a.game-logo.runman(href="#")
					.game-name 奔跑吧兄弟
			.item
				a.game-logo.eat(href="#")
					.game-name 超级大胃王
			.item
				a.game-logo.gesture(href="#")
					.game-name 石头剪刀布
			.item
				a.game-logo.mahjong(href="#")
					.game-name 搓牌高手
			.item
				a.game-logo.wipe(href="#")
					.game-name 微庆刮刮乐

