.crumbs
	border-bottom: 1px solid #dedede

.crumbs-content
	height: 32px
	line-height: @height
	font-size: 1.2em

.crumbs-title
	float: left
	padding-left: 8px
	color #383838
.crumbs-list
	float: left

	/.crumbs-item
		float: left
		color #383838
		/&__is-divider
			margin-left: 8px
			margin-right: 8px
		/&__is-last
			font-weight: 700
			color #242424
			cursor: default
			&:hover
				text-decoration: none
				color @color
