.inp
	margin 0
	height: 26px
	padding 0 4px
	line-height: @height
	border: 1px solid #7f9db9
	&:focus
		outline-style: none
	
	/&-search
		width: 80%

	/&-tree
		width: 80%

	/&-time
		width: 80px
	
	/&-checkbox
		vertical-align: middle
	
	/&-radio
		margin: 0
		vertical-align: middle
	
	/&-select
		height: 28px
		padding-right: 0
	
	/&-textarea
		height: 4em