// =====================================================
// ---  可配置样式组件 --- 对话框样式
// =====================================================
$zIndexModalCover = 1000

.modal-cover
  width: 100%
  height: 100%
  background: #999
  position: fixed
  left 0
  top 0
  z-index: $zIndexModalCover
  opacity: .4
  filter: s('alpha(opacity=40)')
  _position:absolute


.modal
  overflow hidden
  display: none
  position: fixed
  left 50%
  top 50%
  // border: 1px solid #a3a3a3;
  z-index: $zIndexModalCover + 1
  text-align: left
  background-color: #fff
  _position:absolute

.modal_open
  display: block

.modal_alert
.modal_confirm
  // position: relative
  width: 400px
  height: 150px
  margin-left: -(@width/2)
  margin-top: -(@height/2)
  .modal-body
    padding 25px 15px 20px 90px
    // padding-top: 25px
    // padding-left 10px
    // padding-right: 10px
    font-size: 1.4em
    background: url(../images/common/modal-alert-prompt.png) 50px 20px no-repeat

  .modal-foot
    position: absolute
    left 0
    bottom -1px
    width: 100%
    height: 44px
    padding 0
    border-color: #c7e1f6
    text-align: center
    background-color: #e9f5ff
    .btn
      padding-left 20px
      padding-right: 20px
      margin-right: 5px
      margin-top: 9px
      border: 0
      color #fff
      background: #0b87e9
      filter none
    
.modal_alert_fail
  .modal-body
    background-image: url(../images/common/modal-alert-fail.png)

.modal_alert_ok
  .modal-body
    background-image: url(../images/common/modal-alert-ok.png)  

// .modal_alert,
// .modal_confirm
//   .modal-body
//     padding-top: 25px
//     padding-bottom: 35px


.modal-header
  position: relative
  background-color: #0567b4
  h2
    margin: 0
    height: 38px
    line-height: @height
    padding-left 10px
    font-size: 1.4em
    color #fff
    font-weight: 100
  .close
    position: absolute
    right: 2px
    top: 2px
    height: 32px
    width: 32px
    line-height @height
    text-align: center
    font-size: 2.2em
    text-decoration: none
    color #fff
    &:hover
      color #ff5917
    

.modal-body
  position: relative
  // padding: 15px;

.modal-foot
  padding: 4px 15px 4px 0;
  border-top: 1px solid #d8d8d8
  background-color: #f1f1f1;
  text-align: right
  .btn
    margin-left: 4px
