.settings-main
	overflow: hidden
	
	/.settings-left
		float: left
		width: 198px
	/.settings-right
		float: right
		width: 786px


.settings-aside
	min-height: 290px
	border: 1px solid #dfdfdf
	background-color: #f8f8f8

	/.leftnav
		/.leftnav-item
			/.leftnav-link
				position: relative
				display: block
				height: 46px
				padding-left: 28px
				line-height: @height
				border-bottom: 1px solid #dfdfdf
				color: #434343
				&:after
					content: ""
					position: absolute;
					left -1px
					top 0
					height 100%
					width: 3px
					background-color: $gsiteColor
					visibility: hidden
				/&.active
				&:hover
					color: $glinkerHoverColor
					text-decoration: none
					&:after
						display block
						visibility: visible


.settings-kernel
	padding 20px 18px
	border: 1px solid #dedede
	
	/.settings-kernel-crumbs
		color #1b1b1b
		.crumbs-mark
			margin: 0 5px
	
	/.settings-tab
		/.settings-tabbar
			position: relative
			padding-left: 6px
			// border-bottom: 1px solid #dfdfdf
			overflow hidden
			&:after
				content: ''
				position: absolute;
				bottom: 0
				left 0
				z-index: 1
				width: 100%
				height 1px
				background-color: #dfdfdf
				
			.tabbar-item
				display inline-block
				height 36px
				border: 1px solid #dfdfdf
				width: 112px
				margin-left: -1px
				line-height: @height
				text-align: center
				background-color: #f7f7f7
				color #434343
				text-decoration: none
				&:first-child
					margin-left 0
				&.active
					position: relative
					z-index: 2
					border-bottom-color: #fff
					background-color: #fff
					color $gsiteColor
					&:after
						content: ''
						position: absolute
						top -1px
						left 0
						width: 100%
						height 2px
						background-color: $gsiteColor
		
		/.settings-tabcont
			position: relative
			padding: 40px 0 20px
			// margin-top: -1px
				
		