<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>网站标题</title>
    <link rel="shortcut icon" type="image/x-icon" href="../../favicon.ico">
    <link rel="stylesheet" href="../../css/regist.css">
    <script src="../../scripts/lib/requirejs-config/regist.js"></script>
    <script src="../../scripts/lib/requirejs/require.js" data-main="app/regist/main"></script>
  </head>
  <body>
    <div id="main-page">
      <div id="site-content">
        <div class="main-content-container">
          <div class="regist-main">
            <div class="regist-flowbar flowbar-step3"></div>
            <div class="regist-content">
              <div class="regist-final">
                <div class="final-middle-content"><i class="final-doll"></i>
                  <p class="final-congratulation"><i class="ico-right"></i><strong title="我的名字有点长" class="username">我的名字有点长</strong><span class="txt">恭喜您注册成功！</span></p>
                  <p class="final-tip">您可以使用用户名称和注册邮箱登录网站办理各项业务。</p><a href="#" class="final-loginbtn">立即登录</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>