<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>网站标题</title>
    <link rel="shortcut icon" type="image/x-icon" href="../../favicon.ico">
    <link rel="stylesheet" href="../../css/regist.css">
    <script src="../../scripts/lib/requirejs-config/regist.js"></script>
    <script src="../../scripts/lib/requirejs/require.js" data-main="app/regist/main"></script>
  </head>
  <body>
    <div id="main-page">
      <div id="site-content">
        <div class="main-content-container">
          <div class="regist-main">
            <div class="regist-flowbar flowbar-step2"></div>
            <div class="regist-content">
              <div class="regist-userinfo-fillin">
                <div class="regist-form">
                  <form method="" action="">
                    <div class="clearfix regist-form-controller">
                      <label class="controller-label">注册邮箱</label>
                      <div class="controller-txt"><span class="txt-email">xuyj@zjport.gov.cn</span></div>
                    </div>
                    <div class="clearfix regist-form-controller">
                      <label class="controller-label"><span class="required">*</span>用户名</label>
                      <div class="controller-inp J-controllerInp">
                        <input type="text" placeholder="请输入登录用户名" data-required="true" data-rangelength="[2,20]" data-regexp="^[a-zA-Z][a-zA-Z0-9_]*$" class="inp inp-regist">
                      </div>
                      <div class="controller-tip J-controllerTip">
                        <p class="hint"><span class="tip-txt">请输入6位以上数字、字母或标点符号</span></p>
                      </div>
                    </div>
                    <div class="clearfix regist-form-controller">
                      <label class="controller-label"><span class="required">*</span>密码</label>
                      <div class="controller-inp J-controllerInp">
                        <input type="password" placeholder="请输入登录密码" class="inp inp-regist">
                      </div>
                      <div class="controller-tip J-controllerTip">
                        <p class="error"> <i class="ico-cuo"></i><span class="tip-txt">密码输入不一致</span></p>
                      </div>
                    </div>
                    <div class="clearfix regist-form-controller">
                      <label class="controller-label"><span class="required">*</span>确认密码</label>
                      <div class="controller-inp J-controllerInp">
                        <input type="password" placeholder="请输入登录密码" class="inp inp-regist">
                      </div>
                      <div class="controller-tip J-controllerTip">
                        <p class="success"><i class="ico-dui"></i></p>
                      </div>
                    </div>
                    <div class="clearfix regist-form-controller">
                      <label class="controller-label"><span class="required">*</span>企业名称</label>
                      <div class="controller-inp J-controllerInp">
                        <input type="text" placeholder="请输入企业营业执照上的公司名称" class="inp inp-regist">
                      </div>
                    </div>
                    <div class="clearfix regist-form-controller">
                      <label class="controller-label">企业地址</label>
                      <div class="controller-inp J-controllerInp">
                        <input type="text" placeholder="请输入企业办公所在地址" class="inp inp-regist">
                      </div>
                    </div>
                    <div class="clearfix regist-form-controller">
                      <label class="controller-label">联系人</label>
                      <div class="controller-inp J-controllerInp">
                        <input type="text" placeholder="请输入企业联系人" class="inp inp-regist">
                      </div>
                    </div>
                    <div class="clearfix regist-form-controller">
                      <label class="controller-label">联系方式</label>
                      <div class="controller-inp J-controllerInp">
                        <input type="text" placeholder="请输入企业联系方式（电话、手机）" class="inp inp-regist">
                      </div>
                    </div>
                    <div class="regist-form-submit">
                      <input type="submit" value="注　册" class="regist-submit-btn J-registFormSubmitBtn">
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>