<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>网站标题</title>
    <link rel="shortcut icon" type="image/x-icon" href="../../favicon.ico">
    <link rel="stylesheet" href="../../css/regist.css">
    <script src="../../scripts/lib/requirejs-config/regist.js"></script>
    <script src="../../scripts/lib/requirejs/require.js" data-main="app/regist/main"></script>
  </head>
  <body>
    <div id="main-page">
      <div id="site-content">
        <div class="main-content-container">
          <div class="regist-main">
            <div class="regist-flowbar flowbar-step1"></div>
            <div class="regist-content">
              <div class="regist-email-verify">
                <div class="regist-had-account">
                  <p class="account-txt">若您已有跨境一步账号，可直接登录。<a href="#" class="account-login">马上登录</a></p>
                </div>
                <div class="regist-form">
                  <form method="POST" action="xxx.jspa">
                    <div class="clearfix regist-form-controller">
                      <label class="controller-label"><span class="required">*</span>电子邮箱</label>
                      <div class="controller-inp J-controllerInp">
                        <input type="email" placeholder="请输入你的电子邮箱" data-required="true" class="inp inp-regist">
                      </div>
                    </div>
                    <div class="clearfix regist-form-controller">
                      <label class="controller-label"><span class="required">*</span>验证码</label>
                      <div class="controller-inp J-controllerInp">
                        <input type="text" class="inp inp-regist inp-email-vcode">
                      </div>
                    </div>
                    <div id="regist-protocol" class="clearfix regist-form-controller">
                      <label class="controller-label"></label>
                      <div class="controller-inp J-controllerInp">
                        <div class="protocol-wrap">
                          <input type="checkbox" name="protocol" data-required="true" class="protocol-checkbox"><span class="protocol-cont"><span class="txt">我已阅读并同意</span><a href="#" target="_blank">《浙江电子口岸服务协议》</a></span>
                        </div>
                      </div>
                    </div>
                    <div class="regist-form-submit">
                      <input type="submit" value="下一步" class="regist-submit-btn J-registFormSubmitBtn">
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>