extends ../layout/outer.jade

block head-script
block head-requirejs-script
block site-main
	div(style="width: 1000px; margin: 0 auto;")
		iframe(style="width: 1000px; height: 612px;" src="#{htmlRoot}/改绑邮箱/密码确认.html" scrolling="no" frameborder="0" allowtransparency="true")
