.fp-email
	margin-top: 150px
	.fp-middle-content
		width: 450px
	/.email-ico
		position: absolute
		left -($ico_sprite_mail[4])
		top -7px
		sprite($ico_sprite_mail)
	
	/.email-send
		font-size: 1.6em
		padding-left: 15px
		strong
			font-size: 1.2em
			color #0466b3
	/.email-period
		margin-top: 10px
		font-size: 1.6em
		padding-left: 15px