.fp-final
	margin-top: 110px
	.fp-middle-content
		width: 220px
		text-align: center

.final-doll
	position: absolute
	left -($ico_sprite_doll[4])
	top -20px
	sprite($ico_sprite_doll);
	z-index: 2
.final-congratulation
	font-size: 1.9em
	margin-bottom: 15px
	.ico-right	
		display: inline-block
		sprite($ico_sprite_right);
	
.final-loginbtn
	display: inline-block
	width: 170px
	height: 38px
	background: $gportalSiteColor
	color #fff
	line-height: @height - 1
	font-size: 1.4em
	font-weight: 700
	text-align: center
	&:hover
		color @color
		text-decoration: none
		background: @background + 5%
	
	

