.site-header-container
	$mx_ly_center()

#site-content
	padding-top: 0
	padding-bottom: 0
.main-content-container
	padding-left: 0
	padding-right: 0
	min-height: 530px
	$mx_ly_center()
#site-footer
	height: 160px
	background-color: #0567b4
.site-footer--content	
	padding-top 36px
.site-footer--content
.site-footer--linker
	color #fff