.fp-form-submit
	padding-left: 125px
	/.fp-submit-btn
		width: 170px
		height: 38px
		border: 0
		padding 0
		outline: none
		background: $gportalSiteColor
		color #fff
		line-height: @height - 1
		font-size: 1.4em
		font-weight: 700
		&:hover
			background: @background + 5%
