.fixed
	position: fixed
	left 50%
	margin-left: ($gwidth/2)
	/&-tdcode
		bottom 40px
		width: 160px
		height 190px
		text-align: center
		background-color: #e6e6e6
		
		margin-left: @margin-left + 20px
		
		/.tdcode-title
			font-size: $gfontSize*(4/3)
			line-height: 2.4