#head
	/.hd-setting
		height: 26px
		line-height: @height
		background-color: #f0f0f0
		/.hd-setting-lt
			float: left
		/.hd-setting-rt
			float: right
			
			.rt-links
				float: left
				.sep
				a
					float: left
					color #434343
				.sep
					margin-left: 5px
					margin-right: 5px
			
			.rt-links-accout
				margin-right: 10px
				color $gsiteColor
				.sep
				a
					color @color	

	/.hd-mainnav
		/.hd-mainnav-bt
			width: 100%
			height 3px
			background-color: $gsiteColor
		/.hd-mainnav-wrap
			position: relative
			height 81px
			/.hd-logo
				position: absolute
				left 26px
				top 50%
				width: 115px
				height 40px
				margin-top: -(@height/2)
				background: url(../images/common/logo.png) 0 0 no-repeat
				a
					display: block
					width: 100%
					height 100%
			
			/.hd-tel
				position: absolute
				right 0
				top 40%
				width: 182px
				height 25px
				background: url(../images/common/tel.png) 0 0 no-repeat
			
			/.mainnav
				padding-top: 36px
				margin-left: 340px
				.mn-list
					overflow: hidden
					.mn-item
						float: left
						margin-left: 6px
						margin-right 6px
						a
							display block
							height 45px
							padding 0 13px
							line-height: @height
							text-decoration: none
							color #1b1b1b
							font-size: $hfontSize
							&:hover
							/&.mn-active
								background-color: $gsiteColor
								color #fff							
						


								
