#head
	
	/.hd-setting
		height: 26px
		line-height: @height
		background-color: #f0f0f0
		
		/.hd-setting-lt
			float: left
		/.hd-setting-rt
			float: right
			
			.rt-links
				float: left
				.sep
				a
					float: left
					color #434343
				.sep
					margin-left: 5px
					margin-right: 5px
			
			.rt-links-accout
				margin-right: 10px
				color #ff3000
				.sep
				a
					color @color	