.menu-list
	a(href="{{menuObj.link}}" ng-repeat="menuObj in menuCtrl.list track by $index" ng-click="menuCtrl.menuClick(menuObj.link)" class="menu-item item{{$index}}" ng-class="{active: menuObj.active}")