.runman-member(ng-repeat="mebmer in memberCtrl.members")
	.runman-way
		span.runman-name {{mebmer.name}}
		//- span.runman-score {{mebmer.score}}
	div(class="runman-doll {{mebmer.gender}}")

//- style="left: {{mebmer.score | rundistance:memberCtrl.curtimes:memberCtrl.totaltimes:memberCtrl.fulllength}}"

