@import "../app/base/normalize.styl"
@import "../app/base/reset.styl"

@import "../app/forget/reset.styl"
@import "../app/forget/layout.styl"
@import "../app/forget/sprites.styl"
$fp_sprite()
	background-image: url($spritesheet_image)
	background-repeat: no-repeat


@import "../app/forget/chunk.styl"

@import "../app/forget/fillin-password.styl"
@import "../app/forget/email.styl"
@import "../app/forget/final.styl"

@import "../app/forget/controller.styl"
@import "../app/forget/submit.styl"

@import "../components/placeholder.styl"


.clearfix
	$mx_clearfix()