// 跨境业务样式覆盖
html
body
div
p
ul
ol
dl
dt
dd
form
table
td
th
h1
h2
h3
h4
h5
h6
em
strong
input
textarea
fieldset
legend
optgroup
button
	font-family: 'Microsoft Yahei'!important

// html
// 	overflow-y: hidden

.breadCrumb
	padding-top: 10px
	background: none
	border-bottom: 1px solid #dedede

.cont-wrap
	padding 0
	margin-top: 10px


// 查询输入框
.searchtab1
	padding 10px 8px
.form-search-but
	padding-left: 0
	margin-top 10px
	text-align: center
	table
		margin: 0 auto
.tab-list-but
	background-color: #f7f7f7
	height: auto
	table
		td
			padding 4px

// 按钮
.but_link
.but_link:hover
	display inline-block
	padding-left: 12px
	padding-right: 12px
	// margin 0 5px
	height: 26px
	line-height @height
	$mx_gradient_vertical(#fffffe, #f5f5f5)
	border: 1px solid #c8c8c8
	text-align: center
	font-size: 12px
	color #373737
	vertical-align: top
	width: auto


.datetitle_01
	background-color: #f2f9ff
	span
		color #0a2f4d
		font-weight: 700

.dateline
	border: #D6D6D6 1px solid
	margin-top: -1px
	th
		height: 32px
		padding 0
		$mx_gradient_vertical(#fefefe, #f6f6f6)
	td
		height: 32px
		padding-top 0
		padding-bottom: 0

.panel
	margin-top: 10px
	h2
		font-weight: 700
		background-color: #f2f9ff
	table
		margin-top: -1px
		th
			background-color: #f2f9ff
			color #535353
		td
			padding-left 5px
			
		th
		td
			border: 1px solid #e1e1e1

.dynatable_tHead
	font-weight: 700!important
	background-color: #f2f9ff!important

.dynatable_tHead_title
	background #f5f5f5!important
	// border-left: #d6d6d6 1px solid
	// border-right: #d6d6d6 1px solid
	// th
	// 	border-width: 1px 0!important
// .dynatable_table
// 	tbody
// 		td
// 			border-width: 1px 0!important

// #thisForm_tBody
// 	border-left: #d6d6d6 1px solid
// 	border-right: #d6d6d6 1px solid


.dynatable_error_msg
	height: 250px!important
	background: #fff url(../images/inner/empty.jpg) no-repeat 50% 50%!important
	text-indent -9999px
