@import "../app/base/normalize.styl"
@import "../app/base/reset.styl"

@import "../app/rebind/reset.styl"
@import "../app/rebind/layout.styl"
@import "../app/rebind/sprites.styl"
$fp_sprite()
	background-image: url($spritesheet_image)
	background-repeat: no-repeat


@import "../app/rebind/chunk.styl"

@import "../app/rebind/controller.styl"
@import "../app/rebind/submit.styl"
@import "../app/rebind/email.styl"
@import "../app/rebind/final.styl"
@import "../components/placeholder.styl"

.clearfix
	$mx_clearfix()