@import "../app/base/normalize.styl"
@import "../app/base/reset.styl"

@import "../app/regist/reset.styl"

@import "../app/regist/layout.styl"
@import "../app/regist/sprites.styl"
$reg_sprite()
	background-image: url($spritesheet_image)
	background-repeat: no-repeat

@import "../app/regist/flowbar.styl"
@import "../app/regist/email.styl"
@import "../app/regist/userinfo.styl"
@import "../app/regist/final.styl"

@import "../app/regist/controller.styl"
@import "../app/regist/protocol.styl"
@import "../app/regist/submit.styl"

@import "../app/regist/other-relative.styl"

@import "../components/placeholder.styl"


.clearfix
	$mx_clearfix()



