@import "nib/index"
support-for-ie = false
vendor-prefixes = webkit


@import "../../app/base/normalize.styl"
@import "../../app/base/reset.styl"


@import "../../app/weixin/game/layout.styl"
@import "../../app/weixin/game/signin.styl"

@import "../../app/weixin/game/game.styl"
@import "../../app/weixin/game/runman.styl"
@import "../../app/weixin/game/eat.styl"
@import "../../app/weixin/game/gesture.styl"
@import "../../app/weixin/game/gamelist.styl"
