$leftWidth = 180px
#site-content
	padding-top: 8px
	padding-bottom: 8px
.main-content-container
	padding-left 10px
	padding-right: 10px
	overflow: hidden
	background-color: #fff
	/.content-left
		float: left
		width: $leftWidth
		min-height: 600px
		background-color: #f5f5f5
	
	/.content-right
		margin-left: $leftWidth
		padding-left: 10px
		min-height: 600px
		background-color: #fff


