#site-footer
	height: 106px
	border-top: 1px solid #e3e3e3
	background-color: #f5f5f5
	/.site-footer--content
		padding-top: 12px
		font-size: 1.2em
		line-height: 1.2
		text-align: center
		color #5e5d5d
		/.site-footer--sponsor
			margin-top: 22px
			margin-bottom: 18px
		/.site-footer--linker
			color #5e5d5d
		/.site-map--divider
			margin-left: 3px
			margin-right: 3px