$searchBoxHeight         = 37px
$searchBoxSubmitbtnWidth = 44px
@import "vendor.styl"

/.site-logo
	position: absolute
	left 22px
	top 50%
	width: 535px
	height: 65px
	background: url(../images/common/logo.png) no-repeat 0 0
	margin-top: -(@height/2)
	/&-linker
		display: block
		height: @height