$mx_divider()
	height: 1px
	margin-left: 10px
	margin-right: 10px
	background: #d5d2d2


.sideNav-container
	padding-top: 6px
	padding-bottom: 10px
.sideNav-group
	padding-top: 3px
	padding-bottom 3px
	/.sideNav-group-divider
		$mx_divider()
	
	/.group-title
		position: relative
		display block
		height: 32px
		line-height @height
		font-size: 1.4em
		padding-left: 25px
		color #242424
		&:hover
			text-decoration: none
			color @color
		
		/&-ico
			position: absolute
			left 9px
			top 50%
			width: 9px
			height: 9px
			margin-top: -(@height/2)
			background: url(../images/outer/unfold.png) no-repeat 0 0
			/.sideNav-group__is-open &
				background-position: 0 100%
	
	/.group-list
		display: none
		/&-toper-divider
			$mx_divider()
			margin-top: 3px
		/.sideNav-group__is-open &
			display block
		
		/.sideNav-linker
			position: relative
			display block
			height: 45px
			padding-left 47px
			line-height: @height
			font-size: 1.2em
			color #3e3e3e
			/.active-pillar
				display: none	
				position: absolute
				left 0
				top 0
				width: 3px
				height: 100%
				background-color: #0b87e9
				/.sideNav-linker__is-active &
					display block
			/&__is-active
				color #00467d
				background-color: #fff
				cursor: default
				&:hover
					color @color
					text-decoration: none
			/&-ico
				position: absolute
				left 32px
				top 0
				color #9a9a9a
				/.sideNav-linker__is-active &
					color #0b87e9
			