/.site-userinfo
	position: absolute
	right 22px
	top 50%
	height: 22px
	margin-top: -(@height/2)
	font-size: 1.2em
	line-height: @height
	color #fff
	/.userinfo-txt
		float: left
	/.userinfo-logout
		color #fff
	/.userinfo-divider
		margin-left: 5px
		margin-right: 10px