@import "../app/base/normalize.styl"
@import "../app/base/reset.styl"

@import "nib/index"
support-for-ie = false
vendor-prefixes = webkit

body
	height 100%
	width: 100%

body
	position: relative
	width: 800px
	height 600px
	margin 0 auto
	overflow: hidden


$wallImageRoot = "../images/wall/800_600/"


@import "../app/wall/menu.styl"
@import "../app/wall/game.styl"

@import "../app/wall/runman.styl"
@import "../app/wall/eat.styl"
@import "../app/wall/gua.styl"
@import "../app/wall/majiang.styl"
@import "../app/wall/caiquan.styl"
